<?php
/**
@title: Файл шаблона списка сообщений
@package: SWC
@subpackage: core
@author: Eugeny Leonov <eleonov@leolab.info>
@version: 1.0.rc <04/11/2010>

#Rev.2 <22/11/2010>
	[*] Актуализация шаблона в связи с добавлением потоков логгирования.
 
#Rev.1 <09/11/2010>
	[+] Добавлен вывод параметров запроса для сообщения.
*/
if(!defined('htaccess')){die('SWC: Direct access disabled');}
if(!isset($data)||!is_array($data)){return(setResult(false,'В шабон не переданы данные.'));}
?>
<?ob_start();?>
.swc_msg_blkHead{
	font-family:verdana;
	font-size:10px;
	color:blue;
	font-weight:bold;
}
.swc_msg_lines{
	font-family:verdana;
	font-size:10px;
	color:#22f;
	font-weight:normal;
	margin-left:15px;
	display:none;
}
.swc_msg_lineFrom{
	font-family:verdana;
	color:#2a2;
	font-style:italic;
}
.swc_msg_req{
	fint-family:verdana;
	color:#2a2;
	font-style:italic;
}
.swc_msg_header{
	font-family:verdana;
	font-size:12px;
	font-weight:bold;
}
<?css_add('swc.core:messages_list',ob_get_clean());?>
<?js_add('res/js/jquery.js');?>
<?js_add('res/js/swc.js');?>
<?if(isset($data['items'])&&is_array($data['items'])):?><?foreach($data['items']as$hk=>$hv):?>
<div class="swc_msg_header">Сообщения системы:</div>
<?if(is_array($hv)):?><?foreach($hv as $k=>$v):?>
<div class="swc_msg_blkHead">[<?=$k;?>] [<a href="javascript:void();" class="" id="<?=$data['blk']['pos'].'_'.$data['blk']['num'].'_'.str_replace('.','_',$k).$hk;?>" onclick="swc_blk_toggle(this.id);">+</a>]
<div class="swc_msg_lines" id="<?=$data['blk']['pos'].'_'.$data['blk']['num'].'_'.str_replace('.','_',$k).$hk.'_blk';?>">
<?foreach($v as $mk=>$mv):?>
<div class="swc_msg_line">[<?=$mv['type'];?>] <?=$mv['msg'];?><br/>
<span class="swc_msg_lineFrom"><b>Source: </b><?=$mv['from'];?></span><br/>
<span class="swc_msg_req"><b>Request: </b><?=$mv['req']['url'];?></span><br/>
</div>
<?endforeach;?></div>
<?endforeach;?><?endif;?>
</div>
<?endforeach;?><?endif;?>
<?=tpl_parse('tpl.data',$data);?>
