<?php
/**
@title: Шаблон блока просмотра информации
@version: 1.0.rc <15/12/2010>
*/
if(!defined('htaccess')){die('SWC: Direct access disabled.');}
if(!isset($data)||!is_array($data)){return(setResult(false,'Отсутствуют данные шаблона.'));}

?>
<a href="<?=href('%ref%');?>">Назад</a>
<div class="swc_info_<?=$data['blk']['pos'];?>_<?=$data['blk']['num'];?>"><pre>
<?if(isset($data['content'])):?><?=stripslashes($data['content']);?><?else:?><p>Отсутствует содержание.</p><?endif;?>
</pre></div>

<?=tpl_parse('tpl.data',$data);?>
