<?php
/**
@title: Форма создания пользователя
@package: SWC-6
@subpackage: core.user
@version: 1.0.b <14/01/2011>
@author: Eugeny Leonov <eleonov@leolab.info>
@todo: Проверка прав пользователя на включение (исключение) пользователя в группы
@todo: Форма ввода пароля с проверкой
@todo: Форма изменения пароля с проверкой
@todo: Проверка наличия логина пользователя при создании
@todo: AJAX-отправка формы.
@todo: Реализовать внешнее подключение скриптов-обработчиков.

#rel.1.1.b <01/02/2011> Eugeny Leonov
 	[*] Шаблон разделен из ./edit.frm.phtml

#rev.3 <31/01/2011> Eugeny Leonov
 	[*] Шаблон откорректирован под текущие требования.

#rev.2 <27/01/2011> Eugeny Leonov
 	[f] Undefined variable: cE
 	[+] Обработка внешних параметров:
 		&row_id, &row_class, &field_id, &field_class, &jsh[onCancel]
 
#rev.1 <26/01/2011> Eugeny Leonov
 	[+] Список доступных пользователю сайтов.
 	[+] Выбор сайта пользователя по умолчанию.
	[+] Шаблон переделан в блочную верстку.
*/
if(!defined('htaccess')){die('SWC: Direct access disabled');}
if(!isset($data)||!is_array($data)){return(setResult(false,'Отсутствуют параметры шаблона.'));}

$row['id']='swc_user';
$row['class']='swc_row';
$blk['class']='swc_blk';
$blk['id']='swc_userCreate';
$field['id']='user';
$field['name']='user';
$field['class']='swc_form fh';

js_add('/res/js/jquery.js');
js_add('/res/js/swc.js');

?>
<?ob_start();?>

/**
* Удалить пользователя из группы (обработчик события)
* @version 1.0.a <20/01/2011>
*/
function swc_user_groupDel(grpName,rowId){
	if($('#'+rowId+'_row').length!=1){alert('Неверный контейнер группы.');return false;}
	if(confirm('Удалить пользователя из группы "'+$('#'+rowId+'_title').text()+'"')){$('#'+rowId+'_row').remove();return true;}
	return false;
}

/**
* Добавить пользователя в группу (обработчик события)
* @version 1.0.a <20/01/2011>
*
* #rev.1 <31/01/2011> Eugeny Leonov
*	[*] Корректировка под новые требования.
*/
function swc_user_groupAdd(grpName,rowId){
	if($('#<?=$row['id'];?>_groupsList').length!=1){alert('Неверный контейнер списка групп.');return false;}
	$.post('<?=href('%url%');?>',{
		'get':'user:group.row',
		'group[name]':grpName,
		'field[name]':'<?=$field['name'];?>[groups]',
		'field[id]':'<?=$field['id'];?>_grpList',
		'row[id]':'<?=$row['id'];?>_groupsList',
		'jsh[onDelete]':'swc_user_groupDel'
	},function(data){
		$('#<?=$row['id'];?>_groupsList').append(data);
		return true;
	});
	return false;
}

/**
* Добавить разрешенный пользователю сайт. (обработчик события)
* @version 1.0.a <26/01/2011>
*
* #rev.1 <31/01/2011> Eugeny Leonov
*	[*] Корректировка под новые требования
*/
function swc_user_siteAdd(siteName,rowId){
	if($('#<?=$row['id'];?>_sitesList').length!=1){alert('Неверный контейнер списка сайтов.');return false;}
	$.post('<?=href('%url%');?>',{
		'get':'site:row',
		'site[name]':siteName,
		'field[name]':'<?=$field['name'];?>[sites]',
		'field[id]':'<?=$field['id'];?>_sitesList',
		'row[id]':'<?=$row['id'];?>_sitesList',
		'jsh[onDelete]':'swc_user_siteDel'
	},function(data){
		$('#<?=$row['id'];?>_sitesList').append(data);
		return true;
	});
	return false;
}

/**
* Удалить разрешенный пользователю сайт. (обработчик события)
* @version 1.0.a <27/01/2011>
*/
function swc_user_siteDel(siteName,rowId){
	if($('#'+rowId+'_row').length!=1){alert('Неверный контейнер сайта.');return false;}
	if(confirm('Удалить доступ пользователя к сайту: '+$('#'+rowId+'_title').text()+'?')){$('#'+rowId+'_row').remove();return true;}
	return false;
}
<?js_add('swc_user_editFrm',ob_get_clean());?>

<div class="<?=$blk['class'];?>" id="<?=$blk['id'];?>">
<form name="<?=$field['name'];?>" action="<?=href('%url%');?>">
<input type="hidden" name="act" value="user:create" />
	<div class="<?=$blk['class'];?>_title">Создание пользователя</div>
	<div class="<?=$blk['class'];?>_content">
		<div class="<?=$row['class'];?>" id="<?=$row['id'];?>_logName" onmouseover="swc_hlOn(this.id);" onmouseout="swc_hlOff(this.id);">
			<span class="<?=$row['class'];?>_title">Логин:</span>
			<span class="<?=$row['class'];?>_descr"><input type="text" class="<?=$field['class'];?>" name="<?=$field['name'];?>[logName]" id="<?=$field['id'];?>_logName" /></span>
		</div>	
		<div class="<?=$row['class'];?>" id="<?=$row['id'];?>_logWord" onmouseover="swc_hlOn(this.id);" onmouseout="swc_hlOff(this.id);">
			<span class="<?=$row['class'];?>_title">Пароль:</span>
			<span class="<?=$row['class'];?>_descr"><input type="password" class="<?=$field['class'];?>" name="<?=$field['name'];?>[logWord]" id="<?=$field['id'];?>_logWord" /></span>
		</div>
		<div class="<?=$row['class'];?>" id="<?=$row['id'];?>_title" onmouseover="swc_hlOn(this.id);" onmouseout="swc_hlOff(this.id);">
			<span class="<?=$row['class'];?>_title">Имя:</span>
			<span class="<?=$row['class'];?>_descr"><input type="text" class="<?=$field['class'];?>" name="<?=$field['name'];?>[title]" value="" id="<?=$field['id'];?>_title" /></span>
		</div>
		<div class="<?=$row['class'];?>" id="<?=$row['id'];?>_site" onmouseover="swc_hlOn(this.id);" onmouseout="swc_hlOff(this.id);">
			<span class="<?=$row['class'];?>_title">Сайт по умолчанию:</span>
			<span class="<?=$row['class'];?>_descr"><?=int_get('site:select',array('field'=>array('class'=>$field['class'],'id'=>$field['id'].'_site','name'=>$field['name'].'[site]'),'row'=>array('class'=>$row['class'],'id'=>$row['id'].'_siteSel',)));?></span>
		</div>
		<div class="<?=$row['class'];?>" id="<?=$row['id'];?>_theme" onmouseover="swc_hlOn(this.id);" onmouseout="swc_hlOff(this.id);">
			<span class="<?=$row['class'];?>_title">Тема по умолчанию:</span>
			<span class="<?=$row['class'];?>_descr"><?=int_get('theme:select',array('field'=>array('class'=>$field['class'],'name'=>$field['name'].'[theme]',)));?></span>
		</div>
		<div class="<?=$row['class'];?>" id="<?=$row['id'];?>_groups"><span class="swc_row_title"><b>Группы:</b></span></div>
		<div class="<?=$row['class'];?>_inner">
			<div id="<?=$row['id'];?>_groupsList"></div>
			<div id="<?=$row['id'];?>_grpAdd">
				<?=int_get('user:group.select',array('field'=>array('name'=>$field['name'].'_addGroup','class'=>'swc_form','id'=>$field['id'].'_groupAdd',),'acl'=>array('create'=>1),'jsh'=>array('onSelect'=>'swc_user_groupAdd')));?>
			</div>
		</div>
		<div class="<?=$row['class'];?>" id="<?=$row['id'];?>_sites"><span class="<?=$row['class'];?>_title"><b>Сайты:</b></span></div>
		<div class="<?=$row['class'];?>_inner">
			<div id="<?=$row['id'];?>_sitesList"></div>
			<div id="swc_userManage_siteAdd">
				<?=int_get('site:select',array('row'=>array('id'=>$row['id'].'_siteSelect',),'field'=>array('id'=>$field['id'].'_siteAdd'),'jsh'=>array('onSelect'=>'swc_user_siteAdd')));?>
			</div>
		</div>
		<div class="swc_row" id="<?=$row['id'];?>_submit"><input type="submit" value="Создать" class="<?=$field['class'];?>" /></div>
		<div class="swc_row" id="<?=$row['id'];?>_cancel"><input type="button" value="Отменить" onclick="swc_userForm_cancel();" class="<?=$field['class'];?>" /></div>
	</div>
	<div class="blk_footer">&nbsp;</div>
</form>
</div>
<?=tpl_parse('tpl.data',$data);?>
