<?php
/**
@title: Форма регистрации пользователя
@package: SWC-6
@subpackage: core.user
@version: 1.0.rc <07/01/2011>
*/
if(!defined('htaccess')){die('SWC: Direct access disabled.');}
js_add('/res/js/jquery.js');
js_add('/res/js/swc.js');
css_add('/res/css/swc.css');
?>
<?ob_start();?>
function swc_userAction_registry(){
	alert('Регистрация нового пользователя.');
}
<?js_add('swc_userAct_registry',ob_get_clean());?>
<table width="100%" align="center" cellspacing="0" cellpadding="0" border="0">
<tr>
	<td colspan="2"><h3>Регистрация пользователя:</h3></td>
</tr>
<tr id="userFrm_user_logName_row">
	<td>Логин:</td>
	<td><input type="text" name="user[logName]" id="userFrm_user_logName" class="swc_form fh" /></td>
</tr>
<tr id="userFrm_user_logWord_row">
	<td>Пароль:</td>
	<td><input type="password" name="user[logWord]" id="userFrm_user_logWord" class="swc_form fh" /></td>
</tr>
<tr id="userFrm_user_logWord1_row">
	<td>Проверка:</td>
	<td><input type="password" name="logWord_test" id="userFrm_user_logWord1" class="swc_form fh" /></td>
</tr>
<tr id="userFrm_user_title_row">
	<td>Имя:</td>
	<td><input type="text" name="title" id="userFrm_user_title" class="swc_form fh" /></td>
</tr>
<tr>
	<td colspan="2"><input type="button" value="Зарегистрировать" class="swc_form fh" onclick="swc_userAction_registry();" /></td>
</tr>
</table>
