<?php
/**
@title: Форма авторизованного пользователя
@package: SWC-6
@subpackage: core.user
@version: 1.0.rc <07/01/2011>
@author: Eugeny Leonov <eleonov@leolab.info>

@todo: Ввести параметры, требуется ли вывод форм смены сайта и темы

#rev.3 <14/02/2011> Eugeny Leonov
 	[-] Сообщение о смене сайта из обработчика события на смену сайта.

#rev.2 <05/02/2011> Eugeny Leonov
 	[*] Шаблон адаптирован для поддержки изменения оформления.
 
#rev.1 <25/01/2011> Eugeny Leonov
 	[*] Форма вывода переключателя текущего сайта выводится методом user:site.change, в том случае если для пользователя определены доступные сайты.
*/
if(!defined('htaccess')){die('SWC: Direct access disabled.');}
if(!isset($data)||!is_array($data)){return(setResult(false,'Отсутствуют данные шаблона.'));}

$row=array(
	'id'=>'user_info',
	'class'=>'swc_row',
);

$blk=array(
	'id'=>'user_infoBlock',
	'class'=>'swc_blk',
);

//= Проверка переданных параметров >
if(isset($data['blk']['pars']['row'])){$row=swc_arrayFill($row,$data['blk']['pars']['row']);}
if(isset($data['blk']['pars']['blk'])){$blk=swc_arrayFill($blk,$data['blk']['pars']['blk']);}
//if(isset($data['blk']['pars']['row_class'])){$row_class=$data['blk']['pars']['row_class'];}
//< Проверка переданных параметров =
?>

<?ob_start();?>
function swc_user_siteChange(sName,rId){
	$.post('<?=href('%url%');?>',{
		'do':'site:select',
		'site[name]':sName
	},function(data){
		if(is_ok(data)){window.location='<?=href('/');?>';}else{alert(data);}
	});
}
<?js_add('swc_userForm',ob_get_clean());?>
<div class="<?=$blk['class'];?>">
	<div class="<?=$blk['class'];?>_title"><?if(isset($data['user']['title'])):?><?=stripslashes($data['user']['title']);?><?else:?><?=$data['user']['logName'];?><?endif;?></div>
	<div class="<?=$blk['class'];?>_content">
	<?//=int_get('site:select',array('row'=>$row,'jsh'=>array('onChange'=>'swc_user_siteChange')));?>
		<?if(isset($data['user']['sites'])&&is_array($data['user']['sites'])):?>
			<div class="<?=$row['class'];?>"><?=int_get('site:select',array('row'=>$row,'jsh'=>array('onChange'=>'swc_user_siteChange'),'items'=>$data['user']['sites']));?></div>
		<?endif;?>
		<?if(isset($data['user']['themes'])&&is_array($data['user']['themes'])):?>
			<div class="<?=$row['class'];?>"><?=int_get('user:theme.change');?></div>
		<?endif;?>
		<div class="<?=$row['class'];?>"><a href="<?=href('%url%',array('act'=>'user:logOff'));?>">выйти</a></div>
	</div>

	<div class="<?=$row['class'];?>_footer">&nbsp;</div>
</div>
<?=tpl_parse('tpl.data',$data);?>
