<?php
/**
@title: Шаблон формы авторизации пользователя
@package: SWC-6
@subpackage: core.user
@version: 1.0.b <08/01/2011>
@author: Eugeny Leonov <eleonov@leolab.info>

#rev.1 <17/02/2011> Eugeny Leonov
	[f] Кривое отображение в IE
*/

/*
if(file_exists(fname(base_path.'/_swc/_tpl/user/frm.logon.phtml'))){return(include(fname(base_path.'/_swc/_tpl/user/frm.logon.phtml')));}
else{_die('Отсутствует шаблон ядра системы.');}
*/
//_die('Critical error');

if(!defined('htaccess')){die('SWC.user: Direct access disabled.');}
if(!isset($data)||!is_array($data)){return(setResult(false,'Отсутствуют данные шаблона.'));}
?>

<form name="user_authForm" action="<?=href('%url%');?>">
<input type="hidden" name="act" value="user:logOn" />
<?/*if(isset($_SESSION['swc.msg']['SWC.user'])&&is_array($_SESSION['swc.msg']['SWC.user'])):?>
<?foreach($_SESSION['swc.msg']['SWC.user']as$k=>$v):?>
<div class="swc_<?=strtolower($v['type']);?>"><?=$v['msg'];?></div>
<?endforeach;?>
<?endif;*/?>
<table width="100%" align="center" cellspacing="0" cellpadding="0" border="0">
<tr>
	<td style="width:60px;">Логин:</td>
	<td style="width:100%;"><input type="text" name="user[logName]" style="width:100%" /></td>
</tr>
<tr>
	<td style="width:60px;">Пароль:</td>
	<td><input type="password" name="user[logWord]" style="width:100%" /></td>
</tr>
<tr>
	<td colspan="2"><input type="submit" style="width:100%" value="Авторизоваться" /></td>
</tr>
<?if(isset($data['pars']['allow_permanent_auth'])&&is_true($data['pars']['allow_permanent_auth'])):?>
<tr>
	<td colspan="2" align="right">Запомнить меня: <input type="checkbox" name="user[save_me]" /></td>
</tr>
<?endif;?>
<?if(isset($data['pars']['allow_self_registry'])&&(is_true($data['pars']['allow_self_registry']))):?>
<tr>
	<td colspan="2" align="center"><a href="<?=href('%url%:user:registry');?>">Зарегистрироваться</a></td>
</tr>
<?endif;?>
</table>
</form>
<?=tpl_parse('tpl.data',$data);?>
