<?php
/**
@title: Шаблон формы добавления/редактирования группы пользователей
@package: SWC-6
@subpackage: core.user
@author: Eugeny Leonov <eleonov@leolab.info>
@version: 1.0.a <29/01/2011>
*/
if(!defined('htaccess')){die('SWC: Direct access disabled');}
if(!isset($data)||!is_array($data)){return(setResult(false,'SWC: Direct access disabled.'));}

$blk['class']='swc_blk';
$blk['id']='swc_user_group_createBlk';
$row['class']='swc_row';
$row['id']='swc_user_group_create';
$form['class']='swc_form';
$form['name']='group';
$form['id']='swc_user_group_create_frm';
if(isset($data['group']['name'])){$form['act']='user:group.update';}else{$form['act']='user:group.create';}
$jsh['onSubmit']=false;
$jsh['onCancel']=false;
//= Проверка параметров >
//< Проверка параметров =
?>
<div class="<?=$blk['class'];?>" id="<?=$blk['id'];?>">
<div class="<?=$blk['class'];?>_title"><?if(isset($data['group']['name'])):?>Редактирование группы <?if(isset($data['group']['title'])):?>"<?=$data['group']['title'];?>"<?else:?>{<?=$data['group']['name'];?>}<?endif;?><?else:?>Создание группы<?endif;?></div>
<div class="<?=$blk['class'];?>_body">
<form name="<?=$form['name'];?>" action="<?=href('%url%');?>" id="<?=$form['id'];?>">
<input type="hidden" name="act" value="<?=$form['act'];?>" />
	<div class="<?=$row['class'];?>">
		<span class="<?=$form['class'];?>_name">Имя: </span>
		<span class="<?=$form['class'];?>_value"><?if(isset($data['group']['name'])):?><?=$data['group']['name'];?><?else:?><input type="text" class="<?=$form['class'];?> fh" name="<?=$form['name'];?>[name]" id="<?=$form['id'];?>_name" /><?endif;?></span>
	</div>
	<div class="<?=$row['class'];?>">
		<span class="<?=$form['class'];?>_name">Наименование: </span>
		<span class="<?=$form['class'];?>_value">
			<input type="text" name="<?=$form['name'];?>[title]" class="<?=$form['class'];?> fh" id="<?=$form['id'];?>_title" value="<?if(isset($data['group']['title'])):?><?=$data['group']['title'];?><?endif;?>" />
		</span>
	</div>
	<div class="<?=$row['class'];?>_inner">
{Пользователи входящие в группу}
	</div>
	<div class="<?=$row['class'];?>">
<input type="button" class="<?=$form['class'];?> fh" value="<?if(isset($data['group']['name'])):?>Сохранить<?else:?>Создать<?endif;?>" onsubmit="<?if($jsh['onSubmit']!=false):?><?=$jsh['onSubmit'];?>('<?=$blk['id'];?>','<?=$form['id'];?>');<?else:?>$('#'<?=$form['id'];?>).submit();<?endif;?>return false;" />
	</div>
	<div class="<?=$row['class'];?>">
<input type="button" class="<?=$form['class'];?> fh" value="Отменить" onclick="<?if($jsh['onCancel']!=false):?><?=$jsh['onCancel'];?>('<?=$blk['id'];?>');<?else:?>$('#<?=$blk['id'];?>').remove();<?endif;?>return false;" />
	</div>
</form>
</div>
<div class="<?=$blk['class'];?>_footer">&nbsp;</div>
</div>
