<?php
/**
@title: Шаблон блока управления группами
@package: SWC-6
@subpackage: core.user
@author: Eugeny Leonov <eleonov@leolab.info>
@version: 1.0.a <29/01/2011>

@todo: Реализовать редактирование и добавление групп
 
#rev.1 <02/02/2011> Eugeny Leonov
 	[!] Шаблон откорректирован под текущие стандарты.
*/
if(!defined('htaccess')){die('SWC: Direct access disabled');}
if(!isset($data)||!is_array($data)){return(setResult(false,'Отсутствуют данные шаблона.'));}

$row=array(
	'class'=>'swc_row',
	'id'=>'swc_groupManageRow',
);
$blk=array(
	'class'=>'swc_blk',
	'id'=>'swc_groupManage',
);

if(isset($data['blk']['pars']['row'])){$row=swc_arrayFill($row,$data['blk']['pars']['row']);}
if(isset($data['blk']['pars']['blk'])){$row=swc_arrayFill($blk,$data['blk']['pars']['blk']);}

js_add('/res/js/jquery.js');
js_add('/res/js/swc.js');
css_add('/res/css/swc.css');
?>
<?ob_start();?>
function swc_group_manage_groupRemove(grpName,rowId){
	if($('#'+rowId+'_row').length!=1){alert('Неверный контейнер группы.');return false;}
	if(confirm('Удалить группу "'+$('#'+rowId+'_title').text()+'" из системы?')){
		$.post('<?=href('%url%');?>',{
			'do':'user:group.remove',
			'group[name]':grpName
		},function(data){
			if(is_ok(data)){
				$.post('<?=href('%url%');?>',{
					'get':'user:group.row',
					'group[name]':grpName,
					'row[class]':'<?=$row['class'];?>',
					'row[id]':'<?=$row['id'];?>_list',
					'jsh[onRemove]':'swc_group_manage_groupRemove'
				},function(data){
					if(data[0]=='@'){$('#'+rowId+'_row').remove();}else{$('#'+rowId+'_row').html(data);}
				});
			}else{alert(data);}
		});
	}
	return false;
}
<?/*
function swc_group_manage_groupEdit(grpName,rowId){
	$.post('<?=href('%url%');?>',{
		'get':'user:group.edit',
		'group[name]':grpName,
		'blk_class':'<?=$blk_class;?>',
		'row_class':'<?=$row_class;?>',
		'jsh[onUpdate]':'swc_group_manage_groupUpdate'
	},function(data){
		$('#swc_group_manage_edit').html(data);
		$('#swc_group_manage_edit').css('display','block');
	});
	return false;

}

function swc_group_manage_groupUpdate(grpName,rowId){
	alert('Update group row: '+grpName+' ('+rowId+')');
}
*/?>
<?js_add('swc_manage_group',ob_get_clean());?>
<div class="<?=$blk['class'];?>">
	<div class="<?=$blk['class'];?>_title">Управление группами:</div>
	<div class="<?=$blk['class'];?>_content">
<div id="swc_group_manage_grpList"><?if(isset($data['items'])&&is_array($data['items'])):?><?foreach($data['items']as$k=>$v):?>
<?=int_get('user:group.row',array('group'=>array('name'=>$k),'row'=>array('class'=>$row['class'],'id'=>$row['id'].'_list',),'jsh'=>array('onRemove'=>'swc_group_manage_groupRemove',/*'onEdit'=>'swc_group_manage_groupEdit',*/)));?>
<?endforeach;?><?endif;?></div>
<div id="swc_group_manage_edit" style="display:none;">
</div>
	</div>
	<div class="<?=$blk['class'];?>_footer">&nbsp;</div>
</div>

