<?php
/**
@title: Строка группы
@package: SWC-6
@subpackage: core.user
@version: 1.0.a <12/01/2011>
@author: Eugeny Leonov <eleonov@leolab.info>
@param: &row_id
@param: &row_class
@param: $field_name
@param: &jsh[groupDel]
 
#rev.4 <30/01/2011> Eugeny Leonov
 	[*] Шаблон переработан под новый стандарт
 
#rev.3 <29/01/2011> Eugeny Leonov
	[+] Обработчик onRemove
	[+] Обработчик onEdit

#rev.2 <26/01/2011> Eugeny Leonov
 	[!] Изменено имя обработчика jsh[deleteGrp] -> jsh[onDelete]
 
#rev.1 <25/01/2011> Eugeny Leonov
	[!] Изменено имя параметра содержащего обработчики (['handlers'] -> ['jsh'])
	[+] Добавлен параметр row_class
*/
if(!defined('htaccess')){die('SWC: Direct access disabled.');}
if(!isset($data)||!is_array($data)){return(setResult(false,'Отсутствуют данные шаблона.'));}
if(!isset($data['group']['name'])||!is_string($data['group']['name'])||(trim($data['group']['name'])=='')){return(setResult(false,'Отсутствует параметр шаблона.'));}
$row=array(
	'id'=>'usr_group',
	'class'=>'swc_row',
);
$field=array(
	'name'=>'user[groups]',
	'class'=>'swc_form',
	'id'=>'user_group',
);
$jsh=array(
	'onDelete'=>false,
	'onRemove'=>false,
	'onEdit'=>false,
);

//= Проверка переданных параметров шаблона >
if(isset($data['blk']['pars']['field'])){$field=swc_arrayFill($field,$data['blk']['pars']['field']);}
if(isset($data['blk']['pars']['row'])){$row=swc_arrayFill($row,$data['blk']['pars']['row']);}
if(isset($data['blk']['pars']['jsh'])){$jsh=swc_arrayFill($jsh,$data['blk']['pars']['jsh']);}
//< Проверка переданных параметров шаблона =
$row['id'].=str_replace(array(':','.'),'_',$data['group']['name']);
$field['id'].=str_replace(array(':','.'),'_',$data['group']['name']);
?>

<div class="<?=$row['class'];?>" id="<?=$row['id'];?>_row" onmouseover="swc_hlOn(this.id);" onmouseout="swc_hlOff(this.id);">
	<input type="hidden" name="<?=$field['name'];?>[<?=$data['group']['name'];?>]" value="<?=$data['group']['name'];?>" id="<?=$row['id'];?>" />
	<span class="<?=$row['class'];?>_title" id="<?=$row['id'];?>_title"><?if(isset($data['group']['title'])):?><?=$data['group']['title'];?><?else:?><?=$data['group']['name'];?><?endif;?></span>
<span class="<?=$row['class'];?>_buttons">
<?if($jsh['onEdit']!=false):?><input class="swc_button" type="image" src="<?=href('/res/buttons/edit.png');?>" onclick="<?=$jsh['onEdit'];?>('<?=$data['group']['name'];?>','<?=$row['id'];?>');return false;" /><?endif;?>
<?if($jsh['onDelete']!=false):?><input class="swc_button" type="image" src="<?=href('/res/buttons/del.png');?>" onclick="<?=$jsh['onDelete'];?>('<?=$data['group']['name'];?>','<?=$row['id'];?>');return false;" /><?endif;?>
<?if($jsh['onRemove']!=false):?><input class="swc_button" type="image" src="<?=href('/res/buttons/delete.png');?>" onclick="<?=$jsh['onRemove'];?>('<?=$data['group']['name'];?>','<?=$row['id'];?>');return false;" /><?endif;?>
</span>
</div>
