<?php
/**
@title: Шаблон управления списками групп
@package: SWC-6
@subpackage: core.user
@author: Eugeny Leonov <eleonov@leolab.info>
@version: 1.0.a <07/02/2011>
*/
if(!defined('htaccess')){die('Direct access disabled');}
if(!isset($data)||!is_array($data)){return(setResult(false,'Отсутствуют данные шаблона.'));}

//= Заменяемые значения >
$row=array(
	'id'=>'swc_user_group_manageFrm_row',
	'class'=>'swc_row',
);
$blk=array(
	'title'=>'Untitled',
	'class'=>'swc_blk',
	'id'=>'swc_user_group_manageFrm_blk',
);
$form=array(
	'id'=>'swc_user_group_manageFrm',
	'name'=>'groups',
	'class'=>'swc_form',
);
//< Заменяемые значения =
//= Подстановка параметров >
if(isset($data['blk']['pars']['row'])){$row=swc_arrayFill($row,$data['blk']['pars']['row']);}
if(isset($data['blk']['pars']['blk'])){$blk=swc_arrayFill($blk,$data['blk']['pars']['blk']);}
if(isset($data['blk']['pars']['form'])){$form=swc_arrayFill($form,$data['blk']['pars']['form']);}
if(isset($data['blk']['pars']['items'])){if(is_string($data['blk']['pars']['items'])){$data['blk']['pars']['items']=explode(',',$data['blk']['pars']['items']);}}
//< Подстановка параметров =
?>

<?ob_start();?>
function <?=$form['id'];?>_add(grpName,rowId){
	if($('#<?=$row['id'];?>_items').length!=1){alert('Неверный контейнер списка: "<?=$blk['title'];?>"');return false;}
	$.post('<?=href('%url%');?>',{
		'get':'user:group.row',
		'group[name]':grpName,
		'field[name]':'<?=$form['name'];?>',
		'row[id]':'<?=$row['id'];?>',
		'jsh[onDelete]':'<?=$form['id'];?>_del'
	},function(data){
		alert(data);
		$('#<?=$row['id'];?>_items').append(data);
		return true;
	});
	return false;
}

function <?=$form['id'];?>_del(grpName,rowId){
	if($('#'+rowId+'_row').length!=1){alert('Неверный контейнер элемента '+grpName+' ('+rowId+')');return false;}
	if(confirm('Удалить группу "'+$('#'+rowId+'_title').text()+'" из раздела "<?=$blk['title'];?>"')){$('#'+rowId+'_row').remove();return true;}
	return false;
}
<?js_add($form['id'].'_handlers',ob_get_clean());?>

<div class="<?=$blk['class'];?>">
<div class="<?=$blk['class'];?>_title"><b><?=$blk['title'];?></b></div>
<div class="<?=$blk['class'];?>_inner">
	<div id="<?=$row['id'];?>_items">
		<?if(isset($data['blk']['pars']['items'])&&is_array($data['blk']['pars']['items'])):?><?foreach($data['blk']['pars']['items']as$ik=>$iv):?>
		<?=int_get('user:group.row',array('group'=>array('name'=>$iv),'field'=>array('name'=>$form['name'],'id'=>$form['id']),'row'=>array('id'=>$row['id'],'class'=>$row['class']),'jsh'=>array('onDelete'=>$form['id'].'_del',)));?>
		<?endforeach;?><?endif;?>
	</div>
	<div id="<?=$row['id'];?>_grpAdd"><?=int_get('user:group.select',array('field'=>array('name'=>$form['name'].'_GrpFrm','id'=>$form['id'].'_addGrp',),'row'=>array('id'=>$row['id'].'_grpAdd','class'=>$row['class'],),'jsh'=>array('onSelect'=>$form['id'].'_add')));?></div>
</div>
<?=tpl_parse('tpl.data',$data);?>
</div>
