<?php
/**
@title: Шаблон формы выбора группы
@package: SWC-6
@subpackage: core.user
@version: 1.0.a <12/01/2011>
@author: Eugeny Leonov <eleonov@leolab.info>

@todo: Форма создания новой группы должна выводиться методом user:group.create
 
#rev.5 <19/02/2011> Eugeny Leonov
	[r] Очистка кода

#rev.4 <30/01/2011> Eugeny Leonov
	[f] Шаблон переработан под новый стандарт.

#rev.3 <27/01/2011> Eugeny Leonov
	[f] Некорректный Id поля выбора группы.
	[f] Передается некорректный Id строки в обработчик jsh[onChange]
	[*] Превентивная мера: уточнение элемента селектора значение которого передается в обработчик.

#rev.2 <26/01/2011> Eugeny Leonov
	[f] Undefined index: pars (/store/domains/kas66.dev/http/_swc/_tpl/user/group.select.phtml:54)
	[+] Исправлено.
	[!] Изменено имя обработчика jsh[groupAdd] -> jsh[onSelect]
	[+] Добавлен обработчик jsh[onChange]

#rev.1 <25/01/2011> Eugeny Leonov
	[!] Имя раздела содержащего обработчики изменено ([handlers] -> [jsh])
	[+] Добавлена обработка параметров: row_id,row_class,field_name,field_class,field_id,acl[delete],jsh[groupAdd]
*/
if(!defined('htaccess')){die('SWC: Direct access disabled.');}
if(!isset($data)||!is_array($data)){return(setResult(false,'Отсутствуют данные шаблона.'));}
if(!isset($data['items'])||!is_array($data['items'])){$data['items']=array();}

$row=array(
	'id'=>'user_groupSelect',
	'class'=>'swc_row',
);
$field=array(
	'name'=>'user_groupSelect',
	'class'=>'swc_form',
	'id'=>'user_selectGroup',
	'default'=>'',
);
$jsh=array(
	'onSelect'=>false,
	'onChange'=>false,
);
$acl=array(
	'create'=>false,
);

//= Проверка переданных параметров шаблона >
if(isset($data['blk']['pars']['field'])){$field=swc_arrayFill($field,$data['blk']['pars']['field']);}
if(isset($data['blk']['pars']['row'])){$row=swc_arrayFill($row,$data['blk']['pars']['row']);}
if(isset($data['blk']['pars']['jsh'])){$jsh=swc_arrayFill($jsh,$data['blk']['pars']['jsh']);}
if(isset($data['blk']['pars']['acl'])){$acl=swc_arrayFill($acl,$data['blk']['pars']['acl']);}
//< Проверка переданных параметров шаблона =

?>

<?if(is_true($acl['create'])):?><?ob_start();?>
function swc_user_groupCreate_<?=$field['id'];?>(){
	$.post('<?=href('%url%');?>',{
		'do':'user:group.create',
		'group[name]':$('#<?=$field['id'];?>_newGroup_name').val(),
		'group[title]':$('#<?=$field['id'];?>_newGroup_title').val()
	},function(data){
		if(is_ok(data)){
			$('#<?=$field['id'];?>').append('<option value="'+$('#<?=$field['id'];?>_newGroup_name').val()+'">'+$('#<?=$field['id'];?>_newGroup_title').val()+'</option>');
			$('#<?=$field['id'];?>_newGroup_name').val('');
			$('#<?=$field['id'];?>_newGroup_title').val('');
			$('#<?=$field['id'];?>_createGroup').css('display','none');
		}else{alert(data);}
	});
}
<?js_add('swc_user_groupSelect_'.$field['id'],ob_get_clean());?><?endif;?>

<div id="<?=$row['id'];?>_row" class="<?=$row['class'];?>">
<select class="<?=$field['class'];?>" name="<?=$field['name'];?>" id="<?=$field['id'];?>" onchange="<?if(is_true($acl['create'])):?>if(this.value=='_create_group_'){$('#<?=$row['id'];?>_createGroup').css('display','block');}else{$('#<?=$row['id'];?>_createGroup').css('display','none');}<?endif;?><?if($jsh['onChange']!=false):?><?=$jsh['onChange'];?>(this.value,'<?=$row['id'];?>');<?endif;?>return false;">
	<option value=""<?if($field['default']==''):?> selected="1"<?endif;?>>Выбрать группу...</option>
<?foreach($data['items']as$k=>$v):?>
	<option value="<?=$v['name'];?>"<?if($field['default']==$v['name']):?> selected="1"<?endif;?>><?if(isset($v['title'])):?><?=stripslashes($v['title']);?><?else:?><?=$v['name'];?><?endif;?></option>
<?endforeach;?>
	<?if(is_true($acl['create'])):?><option value="_create_group_">Создать...</option><?endif;?>
</select>
<?if($jsh['onSelect']!=false):?>
	<input class="swc_button" type="image" src="<?=href('/res/buttons/add.png');?>" onclick="<?=$jsh['onSelect'];?>($('#<?=$field['id'];?>').val(),'<?=$row['id'];?>');return false;" />
<?endif;?>

<?if(is_true($acl['create'])):?>
	<div id="<?=$row['id'];?>_createGroup" style="display:none;" class="swc_row"><nobr>
Имя:&nbsp;<input type="text" name="<?=$field['name'];?>_new[name]" id="<?=$field['id'];?>_newGroup_name" class="<?=$field['class'];?>" />&nbsp;
Наименование:&nbsp;<input type="text" name="<?=$field['name'];?>_new[title]" id="<?=$field['id'];?>_newGroup_title" class="<?=$field['class'];?>" />&nbsp;
<input type="image" class="swc_button" src="<?=href('/res/buttons/apply.png');?>" onclick="swc_user_groupCreate_<?=$field['id'];?>();return false;" />
	</nobr></div>
<?endif;?>
</div>
