<?php
/**
@title: Шаблон информации о пользователе
@package: SWC-6
@subpackage: core.user
@version: 1.0.b <19/01/2011>
*/
if(!defined('htaccess')){die('SWC: Direct access disabled.');}
if(!isset($data)||!is_array($data)){return(setResult(false,'Отсутствуют данные шаблона.'));}
css_add('/res/css/swc.css');
js_add('/res/js/jquery.js');
js_add('/res/js/swc.js');
?>

<h3>Информация о пользователе:</h3>
<?$rc=0;?>
<table width="100%" align="center" cellspacing="0" cellpadding="0" border="0">
<tr id="<?=$data['blk']['pos'];?>_<?=$data['blk']['num'];?>_<?=$rc++;?>" onmouseover="swc_hlOn(this.id);" onmouseout="swc_hlOff(this.id);">
	<td width="50"><b>Имя:</b></td>
	<td id="swc_user_title"><?=$data['user']['title'];?></td>
	<td align="right">
&nbsp;
	</td>
</tr>
<tr id="<?=$data['blk']['pos'];?>_<?=$data['blk']['num'];?>_<?=$rc++;?>" onmouseover="swc_hlOn(this.id);" onmouseout="swc_hlOff(this.id);">
	<td><b>Логин:</b></td>
	<td><?=$data['user']['logName'];?></td>
	<td>&nbsp;</td>
</tr>
<tr>
	<td valign="top"><b>Группы:</b></td>
	<td colspan="2">
<div style="margin-left:15px;"><div id="swc_user_groups">
<?if(isset($data['user']['groups'])&&is_array($data['user']['groups'])):?><?foreach($data['user']['groups']as$k=>$v):?>
<?=int_get('user:group.row',array('grpName'=>$k));?>
<?endforeach;?><?endif;?>
</div>
	</td>
</tr>
</table>
<?=tpl_parse('tpl.data',$data);?>
