<?php
/**
@title: Шаблон списка пользователей
@package: SWC-6
@subpackage: core.user
@version: 1.0.rc <15/12/2010>
 */
if(!defined('htaccess')){die('SWC: Direct access disabled.');}
if(!isset($data)||!is_array($data)){return(setResult(false,'Отсутствуют данные шаблона.'));}

?>

<h3>Список пользователей в системе (ядро).</h3>
<ul>
<?if(isset($data['items'])&&is_array($data['items'])):?><?foreach($data['items']as$k=>$v):?>
<li><a href="<?=href('%url%:user.info',array('user'=>array('logName'=>$v['logName'])));?>"><?=stripslashes($v['logName']);?></a></li>
<?endforeach;?><?endif;?>
</ul>
<?=tpl_parse('tpl.data',$data);?>
