<?php
/**
@title: Шаблон блока управления системными пользователями
@package: SWC-6
@subpackage: core.user
@version: 1.0.b <17/12/2010>

#rev.2 <02/02/2011>
 	[*] После удаления пользователя производится попытка перегрузки строки пользователя.
 	[*] Корректировка под текущие стандарты.

#rev.1 <19/01/2011>
*/
if(!defined('htaccess')){die('SWC: Direct access disabled.');}
if(!isset($data)||!is_array($data)){return(setResult(false,'Отсутствуют данные шаблона.'));}

js_add("/res/js/jquery.js");
js_add("/res/js/swc.js");
css_add("/res/css/swc.css");
?>

<?ob_start();?>
/**
@title: Получить форму создания (добавления) пользователя.
@version: 1.0.b <19/01/2011>
*/
function swc_userForm_create(){
	$.post('<?=href('%url%');?>',{
		'get':'user:create',
		'frmId':'swc_user',
		'handlers[onSave]':'swc_userForm_userSave',
		'handlers[onCancel]':'swc_userForm_cancel'
	},function(data){
		$('#swc_user_editForm').html(data);
		$('#swc_user_editForm').css('display','block');
	});
}

/**
@title: Получить форму изменения (редактирования) пользователя.
@version: 1.0.b <19/01/2011>
*/
function swc_userForm_edit(logName,rowId){
	$.post('<?=href('%url%');?>',{
		'get':'user:edit',
		'user[logName]':logName,
		'frmId':'swc_user',
		'handlers[onSave]':'swc_userForm_userEdit',
		'handlers[onCancel]':'swc_userForm_cancel'
	},function(data){
		$('#swc_user_editForm').html(data);
		$('#swc_user_editForm').css('display','block');
	});
}

/**
@title: Выполнить изменение пользователя
@version: 1.0.b <19/01/2011>
*/
function swc_userForm_userEdit(frmId){
	alert('Update user width logName: '+$('#'+frmId+'_logName').val());
	swc_userForm_cancel(frmId);
}

/**
@title: Выполнить создание пользователя
@version: 1.0.b <19/01/2011>
*/
function swc_userForm_userCreate(frmId){
	alert('Create user width logName: '.$('#'+frmId+'_logName').val());
	swc_userForm_cancel(frmId);
}

/**
@title: Выполнить удаление пользователя
@version: 1.0.b <20/01/2011>
*/
function swc_userForm_userDelete(logName,frmId){
	if($('#'+frmId+'_row').length!=1){alert('Неверный контейнер пользователя: '+frmId);}
	if(confirm('Удалить пользователя "'+$('#'+frmId+'_title').text()+'"?')){
		$.post('<?=href('%url%');?>',{
			'do':'user:remove',
			'logName':logName
		},function(data){
			if(is_ok(data)){
				/*Получаем новую строку*/
				$.post('<?=href('%url%');?>',{
					'get':'user:row',
					'user[logName]':logName,
					'jsh[onRemove]':'swc_userForm_userDelete',
					'jsh[onEdit]':'swc_userForm_edit'
				},function(data){
					if(data[0]!='@'){$('#'+frmId+'_row').html(data);}else{$('#'+frmId+'_row').remove();}
				});
				
//				$('#'+frmId+'_row').remove();
			}else{alert(data);}
		});
	}
	return false;
}

/**
@title: Отменить редактирование/создание пользователя
@version: 1.0.b <19/01/2011>
*/
function swc_userForm_cancel(frmId){
	$('#swc_user_editForm').html('&nbsp;');
	$('#swc_user_editForm').css('display','none');
}

<?js_add('swc_user_manage',ob_get_clean());?>

<h3>Управление пользователями (core):</h3>
<div id="swc_userList">
<?if(isset($data['users'])&&is_array($data['users'])):?><?foreach($data['users']as$k=>$v):?>
<?=int_get('user:row',array('user'=>array('logName'=>$k,),'jsh'=>array('onRemove'=>'swc_userForm_userDelete','onEdit'=>'swc_userForm_edit',),'row'=>array('id'=>'swc_user','class'=>'swc_row',)));?>
<?endforeach;?><?endif;?>
</div>
<div><input type="button" class="swc_form" value="Создать пользователя" onclick="swc_userForm_create();" /></div>
<div id="swc_user_editForm" style="margin-left:15px;display:none;">
&nbsp;
</div>
<?=tpl_parse('tpl.data',$data);?>
