<?php
/**
@title: Шаблон строки списка пользователей
	Параметры шаблона:
		&field[name]
			$field[id]
			$field[class]
		&row[id]
			&row[class]

	Call backs:
		&jsh[onRemove] (Удалить пользователя)
			JS: function(logName,rowId)
		&jsh[onEdit] (Изменить пользователя)
				JS: function (logName,rowId)
			&jsh[onDelete] (Удалить пользователя для модуля)
				JS: function (logName,rowId)

@version: 1.0.a <14/01/2011>
@package: SWC-6
@subpackage: core.user
 
#rev.1 <02/02/2011> Eugeny Leonov
 	[!] Изменено именование полей под текущие стандарты
*/
if(!defined('htaccess')){die('SWC: Direct access disabled.');}
if(!isset($data)||!is_array($data)){return(setResult(false,'Отсутствуют данные шаблона.'));}
if(!isset($data['user'])){return(setResult(false,'Не указаны данные пользователя.'));}

$row=array(
	'id'=>'swc_user_row',
	'class'=>'swc_row'
);
$field=array(
	'id'=>'swc_user',
	'class'=>'swc_form',
	'name'=>'users',
);
$jsh=array(
	'onRemove'=>false,
	'onDelete'=>false,
	'onEdit'=>false,
);

//= Проверка данных шаблона >
if(isset($data['blk']['pars']['jsh'])){$jsh=swc_arrayFill($jsh,$data['blk']['pars']['jsh']);}
if(isset($data['blk']['pars']['field'])){$field=swc_arrayFill($field,$data['blk']['pars']['field']);}
if(isset($data['blk']['pars']['row'])){$row=swc_arrayFill($row,$data['blk']['pars']['row']);}
//< Проверка данных шаблона =

$row['id'].='_'.str_replace(array('.',':'),'_',$data['user']['logName']);
$field['id'].='_'.str_replace(array(),'_',$data['user']['logName']);
$field['name'].='['.$data['user']['logName'].']';
?>

<div class="<?=$row['class'];?>" id="<?=$row['id'];?>_row" onmouseover="swc_hlOn(this.id);" onmouseout="swc_hlOff(this.id);">
	<input type="hidden" name="<?=$field['name'];?>" value="<?=$data['user']['logName'];?>" />
	<span class="<?=$row['class'];?>_title" id="<?=$row['id'];?>_title"><?if(isset($data['user']['title'])):?><?=$data['user']['title'];?><?else:?><?=$data['user']['name'];?><?endif;?></span>
<span class="swc_row_buttons">
<?if($jsh['onDelete']!=false):?><input type="image" class="swc_button" src="<?=href('/res/buttons/del.png');?>" onclick="<?=$jsh['onDelete'];?>('<?=$data['user']['logName'];?>','<?=$row['id'];?>');return false;" /><?endif;?>
<?if($jsh['onEdit']!=false):?><input type="image" class="swc_button" src="<?=href('/res/buttons/edit.png');?>" onclick="JavaScript:<?=$jsh['onEdit'];?>('<?=$data['user']['logName'];?>','<?=$row['id'];?>');return false;" /><?endif;?>
<?if(($jsh['onRemove'])!=false):?><input type="image" class="swc_button" src="<?=href('/res/buttons/delete.png');?>" onclick="<?=$jsh['onRemove'];?>('<?=$data['user']['logName'];?>','<?=$row['id'];?>');return false;" /><?endif;?>
</span>
</div>
