<?php
/**
@title: Шаблон поля выбора пользователя
@package: SWC-6
@subpackage: core.user
@version: 1.0.a <30/01/2011>
@author: Eugeny Leonov <eleonov@leolab.info>
*/
if(!defined('htaccess')){die('SWC: Direct access disabled');}
if(!isset($data)||!is_array($data)){return(setResult(false,'Отсутствуют данные шаблона.'));}

$field['name']='user';
$field['class']='swc_form';
$field['id']='swc_user';
$field['default']='';
$row['class']='swc_row';
$row['id']='swc_user';
$jsh['onSelect']=false;
$jsh['onChange']=false;
//= Проверка переданных параметров >
if(isset($data['blk']['pars']['field'])){$field=swc_arrayFill($field,$data['blk']['pars']['field']);}
if(isset($data['blk']['pars']['row'])){$row=swc_arrayFill($row,$data['blk']['pars']['row']);}
if(isset($data['blk']['pars']['jsh'])){$jsh=swc_arrayFill($jsh,$data['blk']['pars']['jsh']);}
//< Проверка переданных параметров =
?>

<div class="<?=$row['class'];?>" id="<?=$row['id'];?>_row">
<select name="<?=$field['name'];?>" class="<?=$field['class'];?>" id="<?=$field['id'];?>"<?if($jsh['onChange']!=false):?> onchange="<?=$jsh['onChange'];?>(this.value,'<?=$field['id'];?>');return false;"<?endif;?>>
	<option value=""<?if($field['default']==''):?> selected="1"<?endif;?>>Выбрать пользователя...</option>
	<?foreach($data['items']as$k=>$v):?>
<option value="<?=$k;?>"<?if($field['default']==$k):?> selected="1"<?endif;?>><?if(isset($v['title'])):?><?=$v['title'];?><?else:?><?=$k;?><?endif;?></option>
	<?endforeach;?>
</select>
<?if($jsh['onSelect']!=false):?>
<input type="image" class="swc_button" src="<?=href('/res/buttons/add.png');?>" onclick="<?=$jsh['onSelect'];?>($('#<?=$field['id'];?> option:selected').val(),'<?=$row['id'];?>');return false;" />
<?endif;?>
</div>
