<?php
/**
@title: Шаблон основного блока управления модулями
@package: SWC-6
@subpackage: core.mdl
@version: 1.0.a <08/01/2011>
@author: Eugeny Leonov <eleonov@leolab.info>

@todo: Привести в соответствие верстку шаблона.
@todo: Реализовать разделяемые права пользователей.
 
#rev.2 <19/03/2011>	Eugeny Leonov
	[f] Исправлено переключение видов (все модули/доступные для сайта)
 
#rev.1 <07/02/2011> Eugeny Leonov
 	[*] Шаблон приведен в соответствие с текущими требованиями
*/
if(!defined('htaccess')){die('SWC: Direct access disabled');}
if(!isset($data)||!is_array($data)){return(setResult(false,'Отсутствуют данные шаблона.'));}

$blk=array(
	'id'=>'swc_manage_mdl',
	'class'=>'swc_blk',
);
$row=array(
	'id'=>'swc_manageMdl',
	'class'=>'',
);
$form=array(
	'id'=>'swc_mdl_manage_frm',
	'name'=>'mdl',
	'class'=>'swc_form',
);

if(isset($data['blk']['pars']['blk'])){$blk=swc_arrayFill($blk,$data['blk']['pars']['blk']);}
if(isset($data['blk']['pars']['row'])){$row=swc_arrayFill($row,$data['blk']['pars']['row']);}
if(isset($data['blk']['pars']['form'])){$form=swc_arrayFill($form,$data['blk']['pars']['form']);}

js_add('/res/js/jquery.js');
js_add('/res/js/swc.js');
css_add('/res/css/swc.css');

?>
<?ob_start();?>
function swc_mdl_remove(mName){
	if(confirm('Удалить модуль '+$('#swc_mdl_'+mName.replace(':','_')+'_title').text()+'?')){
		alert('Удаление модуля '+mName);
	}
}

function swc_mdl_config(mName){
	alert('Конфигурация модуля ('+mName+') '+$('#swc_mdl_'+mName.replace(':','_')+'_title').text());
}

function swc_mdl_update(mName){
	alert('Проверить обновления модуля ('+mName+') '+$('#swc_mdl_'+mName.replace(':','_')+'_title').text());
}

<?js_add('swc_mdlActions',ob_get_clean());?>

<div class="<?=$blk['class'];?>" id="<?=$blk['id'];?>">
<div class="<?=$blk['class'];?>_title">Установленные модули:</div>
<div class="<?=$blk['class'];?>_content">
<div>Показать:
	<?if(isset($data['blk']['pars']['all_sites'])&&is_true($data['blk']['pars']['all_sites'])):?>
		<a href="<?=href('%uri%',array('all_sites'=>'no'));?>">все</a>
	<?else:?>
		<a href="<?=href('%uri%',array('all_sites'=>'on'));?>">доступные</a>
	<?endif;?>
</div>
<div class="<?=$blk['class'];?>_inner" id="<?=$blk['id'];?>_items">
<?if(isset($data['modules'])&&is_array($data['modules'])):?><?foreach($data['modules']as$k=>$v):?>
	<?=int_get('mdl:row',array('mdl'=>$v,'blk'=>$blk,'row'=>$row,'form'=>$form,'jsh'=>array('onInfo'=>'swc_mdl_info',)));?>
<?endforeach;?><?endif;?></div>
<div class="<?=$blk['class'];?>_footer">&nbsp;</div>
</div>

<?=tpl_parse('tpl.data',$data);?>
