<?php
/**
@title: Файл шаблона строки информации о модуле
@package: SWC-6
@subpackage: core.mdl
@version: 1.0.a <23/01/2011>
@author: Eugeny Leonov <eleonov@leolab.info>

#rev.1 <07/02/2011> Eugeny Leonov
	[*] Шаблон приведен в соответствие с текущими требованиями.
*/
if(!defined('htaccess')){die('Direct access disabled');}
if(!isset($data)||!is_array($data)){return(setResult(false,'Отсутствуют данные шаблона.'));}

$row=array(
	'id'=>'swc_mdl',
	'class'=>'swc_row',
);
$form=array(
	'id'=>'swc_mdlForm',
	'class'=>'swc_form',
	'name'=>'mdl',
);
$jsh=array(
	'onConfig'=>false,
	'onRemove'=>false,
	'onDelete'=>false,
	'onInfo'=>false,
);

if(isset($data['blk']['pars']['row'])){$row=swc_arrayFill($row,$data['blk']['pars']['row']);}
if(isset($data['blk']['pars']['form'])){$form=swc_arrayFill($form,$data['blk']['pars']['form']);}
if(isset($data['blk']['pars']['jsh'])){$jsh=swc_arrayFill($jsh,$data['blk']['pars']['jsh']);}

$row['id'].='_'.$data['mdl']['name'];
$form['id'].='_'.$data['mdl']['name'];
$form['name'].='['.$data['mdl']['name'].']';

js_add('/res/js/jquery.js');
js_add('/res/js/swc.js');
css_add('/res/css/swc.css');
?>

<div class="swc_row" id="<?=$row['id'];?>_row" onmouseover="swc_hlOn(this.id);" onmouseout="swc_hlOff(this.id);">
<span id="<?=$row['id'];?>_title" class="<?=$row['class'];?>_title">
	<?if(isset($data['mdl']['site'])&&(trim($data['mdl']['site'])!=='')):?>[<?=$data['mdl']['site'];?>]<?endif;?>
	<?if(isset($data['mdl']['title'])):?><?=$data['mdl']['title'];?><?else:?><?=$data['mdl']['name'];?><?endif;?>
</span>
<span id="<?=$row['id'];?>_version" class="<?=$row['class'];?>_version"><?if(isset($data['mdl']['version'])):?><?=swc_version($data['mdl']['version'],'version');?> (<?=swc_version($data['mdl']['version'],'date');?>)<?else:?>---<?endif;?></span>
<span class="swc_row_buttons" style="float:right;">
	<?if($jsh['onConfig']!=false):?><?endif;?>
	<?if($jsh['onInfo']!=false):?><img src="<?=href('/res/buttons/info.png');?>" width="16" height="16" border="0" onclick="<?=$jsh['onInfo'];?>('<?=$data['mdl']['name'];?>','<?=$row['id'];?>'); return false;" /><?endif;?>
	<?if($jsh['onDelete']!=false):?><?endif;?>
	<?if($jsh['onRemove']!=false):?><?endif;?>
</span>
</div>
