<?php
/**
@title: Шаблон блока "пустого" модуля
@package: SWC-6
@subpackage: core
@author: Eugeny Leonov <eleonov@leolab.info>
@version: 1.0.rc <29/10/2010>
*/
if(!defined('htaccess')){die('SWC: Direct access disabled');}
if(!isset($data)||!is_array($data)){return(setResult(false,'Неверный формат или отсутствуют данные.'));}
js_add('res/js/jquery.js');
js_add('res/js/swc.js');
?>
<?ob_start();?>
div.swc_blank{
	font-family:verdana;
	font-size:8px;
	color:green;
	padding:3px;
}

div.swc_blank h3{
	font-size:12px;
	margin:0px;
}

.swc_blk_toggle_btn{
	cursor:pointer;
}
<?css_add('swc_blank',ob_get_clean());?>

<div class="swc_blank">
<h3>Blank template</h3>
<?=tpl_parse('tpl.data',$data);?>
</div>
