/*
@title: Таблица стилей ядра системы
*/

body, td, div{font-size:12px;font-family: verdana;color: #333;}

.error{font-size: 14px;color: red;}
.highlight{background-color: #3f3;}

.fh{width:100%;}

label.swc_form{float:left;width:10%;min-width:40px;}
.swc_form{font-size:10px;color: gray;height:18px;vertical-align:middle;}
.swc_form_name{height:16px;float:left;width:20%;max-width:20%;overflow:hidden;vertical-align:middle;}
.swc_form_value{float:left;width:80%;max-width:80%;overflow:hidden;vertical-align:middle;}
.swc_button{width:16px;height:16px;border-width:0px;background-color:transparent;vertical-align:middle;}

div.swc_pos_edit{font-family:verdana;font-size:10px;color:#66f;text-align:right;margin-top:5px;border-style:solid;border-color:#66f;border-width:1px;}
span.swc_pos_edit{border-left-style:solid;border-left-color:#66f;border-width:1px;}
div.swc_blk_edit{font-family:verdana;font-size:10px;color:#66f;text-align:right;border-top-color:#66f;border-top-style:solid;border-top-width:1px;margin-top:3px;}
span.swc_blk_edit{border-style:solid;border-color:#66f;border-width:1px;}

.swc_blk{ /* Основной класс блока страницы */
	font-family:verdana;
	font-size:12px;
	color:#22c;
	border-style:solid;
	border-width:1px;
	border-color:#aaa;
	padding:2px;
}

.swc_blk_title{ /* Класс заголовка блока страницы */
	font-family:verdana;
	font-size:14px;
	font-weight:bold;
	color:#22c;
	border-style:none;
	border-width:0px;
}

.swc_blk_content{ /* Класс содержимого блока страницы */
}

.swc_blk_footer{ /* Класс нижней части блока страницы */
}

.swc_row{ /* Класс строки */
	min-height:20px;
	height:20px;
	display:block;
	font-size:12px;
	color:#000;
	vertical-align:middle;
}

.swc_row_title{ /* Класс заголовка строки */
	float:left;
	width:40%;
	max-width:40%;
	overflow:hidden;
	vertical-align:middle;
}

.swc_row_descr{ /* Класс описания строки */
	float:left;
	width:40%;
	max-width:40%;
	overflow:hidden;
	vertical-align:middle;
}

.swc_row_buttons{ /* Класс кнопок управления строки */
	float:right;
	vertical-align:middle;
}

.swc_row_inner{ /* Класс вложенной строки */
	padding-left:15px;
}

.swc_row_info{ /* Класс доп.информации */
	font-size:10px;
	color:#666;
}

.swc_row_notify{ /* Уведомление в строке */
	font-size:10px;
	color:#a00;
}

#simplemodal-overlay { 
	background-color:#000;
	cursor:wait;
	filter: alpha(opacity=80);
	height: 100%; 
}

#simplemodal-container a.modalCloseImg{
	background:url(/res/buttons/cancel.png) no-repeat; /* adjust url as required */
	width:16px;
	height:16px;
	display:inline;
	z-index:3200;
	position:absolute;
	top:-15px;
	right:-18px;
	cursor:pointer;
}

#helper { 
	position: absolute; 
	top: 0px; 
	left: 0px; 
	width: 100%; 
	height: 100%; 
	z-index: -10; 
}
