<?php
/**
@title: Шаблон страницы "Доступ запрещен"
*/
if(!defined('htaccess')){die('SWC: Direct access disabled.');}

css_add('/res/css/swc.css');

?>
<html>
<head>
<?=tpl_parse('tpl.head',$data);?>
</head>
<body>
<h1>E403: Доступ запрещен.</h1>
<?=tpl_parse('e403',$data);?>
<div id="blk_main">
<?if(isset($data['reason'])):?>
<b><?=$data['reason'];?></b>
<?else:?>No reason<?endif;?>
</div>
<a href="<?=href('/',array('act'=>'swc.resetSession'));?>">Сбросить сессию</a>
<?=tpl_parse('pg.dbg',$data);?>
<?/*
<hr/>
<?if(defined('dbgEnabled')&&dbgEnabled):?>
<pre><b>$data:</b><?print_r($data);?></pre>
<pre><b>$GLOBALS:</b><?print_r($GLOBALS);?></pre>
<pre><b>$_SESSION:</b><?print_r($_SESSION);?></pre>
<?endif;?>
*/?>
</body>
</html>
