<?php
/**
@title: Файл шаблона блока "доступ запрещен"
@package: SWC-6
@subpackage: core
@author: Eugeny Leonov <eleonov@leolab.info>
@version: 1.0.rc <19/01/2011>
*/
if(!defined('htaccess')){die('SWC: Direct access disabled.');}
js_add('/res/js/jquery.js');
js_add('/res/js/swc.js');
css_add('/res/css/swc.css');
?>
<?ob_start();?>
function e403_getAuthForm(){
	$.post('<?=href('%url%');?>',{
		'get':'user:form'
	},function(data){$('#e403_authForm').html(data);});
}
<?js_add('e403_scripts',ob_get_clean());?>
<div class="swc_error">
<h3>Доступ запрещен.</h3>
<?if(user_isGuest()):?>
<p>Вы неавторизованы в системе.</p>
<div id="e403_authForm">
<input type="button" class="swc_form" value="Авторизоваться" onclick="e403_getAuthForm(); return false;"/>
</div>
<?else:?>
<p>Недостаточно прав.</p>
<?endif;?>
</div>
<?=tpl_parse('tpl.data',$data);?>
