<?php
/**
@title: Файл шаблона блока "Страница не найдена"
@package: SWC-6
@subpackage: core
@author: Eugeny Leonov <eleonov@leolab.info>
@version: 1.0.rc <10/11/2010>
*/
if(!defined('htaccess')){die('SWC: Direct access disabled.');}
//$usr=mdl_load('user');

?>
<div class="error">
<h3 class="error">Страница не найдена.</h3>
<p>Попробуйте начать с <a href="<?=href('/');?>">главной</a>.</p>
<p>Попробуйте <a href="<?=href('/',array('act'=>'swc.resetSession'));?>">сбросить</a> сессию.</p>
</div>
<?=tpl_parse('tpl.data',$data);?>
