<?php
/**
@title: Шаблон страницы системной ошибки
*/
if(!defined('htaccess')){die('SWC: Direct access disabled.');}

css_add('/res/css/swc.css');

?>
<html>
<head>
<title>E500: Ошибка ядра системы</title>
</head>
<body>
<h1>E500: Ошибка ядра системы</h1>
<div>
<?if(isset($data['reason'])):?>
<b><?=$data['reason'];?></b>
<?else:?>No reason<?endif;?>
</div>
<a href="<?=href('/',array('act'=>'swc.resetSession'));?>">Сбросить сессию</a>
<hr/>
<?if(defined('dbgEnabled')&&dbgEnabled):?>
<pre><b>$data:</b><?print_r($data);?></pre>
<pre><b>$GLOBALS:</b><?print_r($GLOBALS);?></pre>
<pre><b>$_SESSION:</b><?print_r($_SESSION);?></pre>
<?endif;?>
</body>
</html>
