<?php
/**
@title: Шаблон блока обработки внутренней ошибки
@package: SWC-6
@subpackage: core
@author: Eugeny Leonov <eleonov@leolab.info>
@version: 1.0.rc <10/11/2010>
 
#rev.1 <27/01/2011> Eugeny Leonov
 	[+] Вывод источника при включенном режиме отладки.
*/
if(!defined('htaccess')){die('SWC: Direct access disabled.');}
if(!isset($data)||!is_array($data)){_die('E500: Отсутствуют данные.');}
?>
<?ob_start();?>
div.swc_error{
	font-family:verdana;
	font-size:14px;
	color:#f00;
}
h3.swc_error{
	font-family:verdana;
	font-size:16px;
	color:#f00;
	font-weight:bold;
	margin:3px;
}
<?css_add('swc_error',ob_get_clean());?>
<div class="swc_error">
<h3 class="swc_error">E500: Internal error</h3>
<?if(dbgEnabled):?><p>Источник: <?if(isset($data['from'])&&(trim($data['from'])!='')):?><?=$data['from'];?><?elseif(isset($data['result']['from']['file'])):?><?=$data['result']['from']['file'];?><?endif;?></p><?endif;?>
<?if(isset($data['result']['reason'])&&(trim($data['result']['reason'])!='')):?><p><?=$data['result']['reason'];?></p><?else:?><p>Ошибка обработки блока.</p><?endif;?>
<?if(isset($data['content'])):?><p><?=$data['content'];?></p><?endif;?>
<?=tpl_parse('tpl.data',$data);?>
</div>
