<?php
/**
@title: Шаблон основной страницы ядра системы.
@package: SWC-6
@subpackage: core
@author: Eugeny Leonov <eleonov@leolab.info>
@version: 1.0.rc <26/10/2010>
*/
if(!defined('htaccess')){die('SWC: Direct access disabled.');}
if(isset($_REQUEST['mode'])&&($_REQUEST['mode']=='edit')){define('pg_edit',true);}
//Добавляем внешнюю таблицу стилей страницы
css_add('/res/css/swc.css');
js_add('/res/js/jquery.js');
js_add('/res/js/swc.js');
function swc_blk_editForm($pos,$id){
	return('<div class="swc_blk_edit"><i>'.$pos.':'.$id.'</i>&nbsp;<span class="swc_blk_edit">&nbsp;[<a href="javascript:swc_blk_edit(\''.$pos.'\',\''.$id.'\');">*</a>]&nbsp;[<a href="javascript:swc_blk_del(\''.$pos.'\',\''.$id.'\');">-</a>]&nbsp;</span></div>');
}
function swc_pos_editForm($pos){
	return('<div class="swc_pos_edit"><i>'.$pos.'</i>&nbsp;<span class="swc_pos_edit">&nbsp;[<a href="javascript:swc_blk_add(\''.$pos.'\');">+</a>]&nbsp;[<a href="javascript:swc_pos_edit(\''.$pos.'\');">*</a>]&nbsp;</span></div>');
}
?>
<html>
<head>

<?ob_start();?>
function swc_blk_edit(pos,id){
	alert('Update[block]: '+pos+'.'+id);
}

function swc_blk_del(pos,id){
	alert('Delete[block]: '+pos+'.'+id);
}

function swc_blk_add(pos){
	alert('Add[block]: '+pos);
}

function swc_pos_edit(pos){
	alert('Update[position]: '+pos);
}

function swc_pos_del(pos){
	alert('Delete[position]: '+pos);
}
<?js_add('swc_pg_blocks',ob_get_clean());?>
<?=tpl_parse('tpl.head',$data);?>
</head>
<body>
<table width="98%" align="center" cellspacing="0" cellpadding="0" border="0">
<tr>
	<td>
<table width="100%" align="center" cellpadding="0" cellspacing="0" border="0">
<tr>
	<td rowspan="2" width="250" valign="middle">
<?if(isset($data['body']['logo'])&&is_array($data['body']['logo'])):?><?foreach($data['body']['logo']as$k=>$v):?>
<div class="swc_blk">
	%logo%
<?if(defined('pg_edit')&&pg_edit):?><?=swc_blk_editForm('logo','0');?><?endif;?>
</div>
<?endforeach;?><?endif;?>
<?if(defined('pg_edit')&&pg_edit):?><?=swc_pos_editForm('logo');?><?endif;?>
	</td>
	<td>
<?if(isset($data['body']['header'])&&is_array($data['body']['header'])):?><?foreach($data['body']['header']as$k=>$v):?>
<div class="swc_blk">
<?if(isset($v['content'])):?><?=$v['content'];?>
<?elseif(isset($v['result']['reason'])):?><div class="swc_error"><?=$v['result']['reason'];?></div>
<?else:?><div class="swc_error">No content</div>
<?endif;?>
<?if(defined('pg_edit')&&pg_edit):?><?=swc_blk_editForm('header',$k);?><?endif;?>
</div>
<?endforeach;?><?endif;?>
<?if(defined('pg_edit')&&pg_edit):?><?=swc_pos_editForm('header');?><?endif;?>
	</td>
</tr>
<tr>
	<td>
<?if(isset($data['body']['top_menu'])&&is_array($data['body']['top_menu'])):?><?foreach($data['body']['top_menu']as$k=>$v):?>
<div class="swc_blk">
<?if(isset($v['content'])):?><?=$v['content'];?>
<?elseif(isset($v['result']['reason'])):?><div class="swc_error"><?=$v['result']['reason'];?></div>
<?else:?><div class="swc_error">No content</div><?endif;?>
<?if(defined('pg_edit')&&pg_edit):?><?=swc_blk_editForm('top_menu',$k);?><?endif;?>
</div>
<?endforeach;?><?endif;?>
<?if(defined('pg_edit')&&pg_edit):?><?=swc_pos_editForm('top_menu');?><?endif;?>
	</td>
</tr>
</table>
	</td>
</tr>
<tr>
	<td align="center" valign="middle">
<table width="100%" align="center" cellpadding="0" cellspacing="0" border="0">
<tr>
<?if(isset($data['body']['left'])&&is_array($data['body']['left'])||(defined('pg_edit')&&pg_edit)):?>
	<td valign="top" width="250" style="max-width:250px;min-width:250px;width:250px;">
<?if(is_array($data['body']['left'])):?><?foreach($data['body']['left']as$k=>$v):?>
<div class="swc_blk">
<?if(isset($v['content'])):?><?=$v['content'];?>
<?elseif(isset($v['result']['reason'])&&($v['result']['reason']!='')):?>
	<div class="swc_error"><?=$v['result']['reason'];?></div>
<?else:?>
	<div class="swc_error">No content</div>
<?endif;?>
<?if(defined('pg_edit')&&pg_edit):?><?=swc_blk_editForm('left',$k);?><?endif;?>
</div>
<?endforeach;?><?endif;?>
<?if(defined('pg_edit')&&pg_edit):?><?=swc_pos_editForm('left');?><?endif;?>
	</td>
<?endif;?>

	<td valign="top">
<?if(isset($data['body']['center_top'])&&is_array($data['body']['center_top'])):?><?foreach($data['body']['center_top']as$k=>$v):?>
<div class="swc_blk">
<?if(isset($v['content'])):?><?=$v['content'];?>
<?elseif(isset($v['result']['reason'])&&($v['result']['reason']!='')):?>
	<div class="swc_error"><?=$v['result']['reason'];?></div>
<?else:?>
	<div class="swc_error">No content</div>
<?endif;?>
<?if(defined('pg_edit')&&pg_edit):?><?=swc_blk_editForm('center_top',$k);?><?endif;?>
</div>
<?endforeach;?><?endif;?>
<?if(defined('pg_edit')&&pg_edit):?><?=swc_pos_editForm('center_top');?><?endif;?>

<div id="blk_main">
<?if(isset($data['body']['main'])):?>
<div class="swc_blk">
<?if(isset($data['body']['main']['content'])):?>
	<?=stripslashes($data['body']['main']['content']);?>
<?elseif(isset($data['body']['main']['result']['reason'])):?>
	<?=$data['body']['main']['result']['reason'];?>
<?else:?>No content.
<?endif;?>
<?if(defined('pg_edit')&&pg_edit):?><?=swc_blk_editForm('main',0);?><?endif;?>
</div>
<?endif;?>
</div>

<?if(isset($data['body']['center'])&&is_array($data['body']['center'])):?>
<?foreach($data['body']['center']as$k=>$v):?>
<div class="swc_blk">
<?if(isset($v['content'])):?><?=$v['content'];?><?elseif(isset($v['result']['reason'])&&($v['result']['reason']!='')):?>
<div class="swc_error"><?=$v['result']['reason'];?></div>
<?else:?>
<div class="swc_error">No content</div>
<?endif;?>
<?if(defined('pg_edit')&&pg_edit):?><?=swc_blk_editForm('center',$k);?><?endif;?>
</div>
<?endforeach;?>
<?endif;?>
<?if(defined('pg_edit')&&pg_edit):?><?=swc_pos_editForm('center');?><?endif;?>

<?if(isset($data['body']['center_bottom'])&&is_array($data['body']['center_bottom'])):?><?foreach($data['body']['center_bottom']as$k=>$v):?>
<div class="swc_blk">
<?if(isset($v['content'])):?><?=$v['content'];?>
<?elseif(isset($v['result']['reason'])):?>
	<div class="swc_error"><?=$v['result']['reason'];?></div>
<?else:?>
	<div class="swc_error">No content</div>
<?endif;?>
<?if(defined('pg_edit')&&pg_edit):?><?=swc_blk_editForm('center_bottom',$k);?><?endif;?>
</div>
<?endforeach;?>
<?endif;?>
<?if(defined('pg_edit')&&pg_edit):?><?=swc_pos_editForm('center_bottom');?><?endif;?>
	</td>
<?if(isset($data['body']['right'])&&is_array($data['body']['right'])):?>
	<td valign="top" width="25%">
<?foreach($data['body']['right']as$k=>$v):?>
<div class="swc_blk">
<?if(isset($v['content'])):?><?=$v['content'];?>
<?elseif(isset($v['result']['reason'])&&($v['result']['reason'])):?>
	<div class="swc_error"><?=$v['result']['reason'];?></div>
<?else:?>
	<div class="swc_error">No content</div>
<?endif;?>
<?if(defined('pg_edit')&&pg_edit):?><?=swc_blk_editForm('right',$k);?><?endif;?>
<?endforeach;?>
<?if(defined('pg_edit')&&pg_edit):?><?=swc_pos_editForm('right');?><?endif;?>
	</td>
<?endif;?>
</tr>
</table>
	</td>
</tr>
<tr>
	<td align="center"><div class="swc_blk">%footer%</td>
</tr>
</table>
<?=tpl_parse('pg.dbg',$data);?>
</body>
</html>
