<?php
/**
@title: Отладочный шаблон страницы.
@package: SWC-6
@subpackage: core
@version: 1.0.b.3 <12/01/2011>
*/
if(!defined('htaccess')){die('SWC: Direct access disabled.');}
if(!isset($data)||!is_array($data)){return(setResult(false,'Отсутствуют данные шаблона.'));}
if(!defined('devMode')||!is_true(devMode)){echo('');return(true);}
?>
<div class="swc_blk">
<?if(defined('dbgEnabled')&&dbgEnabled):?>
[<?if(isset($_REQUEST['swc_showValues'])&&is_true($_REQUEST['swc_showValues'])):?><a href="<?=href($GLOBALS['swc.req']['uri'],array('swc_showValues'=>'off'),array_keys($_REQUEST));?>">Скрыть значения шаблона.</a><?else:?><a href="<?=href($GLOBALS['swc.req']['uri'],array('swc_showValues'=>'on'),array_keys($_REQUEST));?>">Показать значения шаблона страницы.</a><?endif;?>]
| [<?if(isset($_REQUEST['swc_showGlobals'])&&is_true($_REQUEST['swc_showGlobals'])):?><a href="<?=href($GLOBALS['swc.req']['uri'],array('swc_showGlobals'=>'off'),array_keys($_REQUEST));?>">Скрыть глобальные значения</a><?else:?><a href="<?=href($GLOBALS['swc.req']['uri'],array('swc_showGlobals'=>'on'),array_keys($_REQUEST));?>">Показать глобальные переменные.</a><?endif;?>]
| [<a href="<?=href($GLOBALS['swc.req']['uri'],array('act'=>'swc.dbgEnabled','value'=>'off'));?>">Выключить отладку</a>]
<?else:?>
[<a href="<?=href($GLOBALS['swc.req']['uri'],array('act'=>'swc.dbgEnabled','value'=>'on'));?>">Включить отладку</a>]
<?endif;?>
| [<a href="<?=href('/',array('act'=>'swc.resetSession'));?>">Сбросить сессию.</a>]

<?if(defined('dbgEnabled')&&dbgEnabled):?>
	<?if(isset($_REQUEST['swc_showValues'])&&is_true($_REQUEST['swc_showValues'])):?>
	<b>$data:</b>
	<pre>
	<?print_r($data);?>
	</pre>
	<?endif;?>
	<?if(isset($_REQUEST['swc_showGlobals'])&&is_true($_REQUEST['swc_showGlobals'])):?>
	<b>$GLOBALS:</b>
	<pre>
	<?print_r($GLOBALS);?>
	</pre>
	<?endif;?>
<?endif;?>
</div>
