<?php
/**
@title: Шаблон стартового блока ядра системы
@version: 1.0.rc.1 <07/01/2011>
*/
if(!defined('htaccess')){die('SWC: Direct access disabled.');}
if(!isset($data)||!is_array($data)){return(setResult(false,'SWC: Отсутствуют данные шаблона.'));}

css_add('/res/css/swc.css');
?>

<h1>SWC : <?=swc_version(swc_version,'version');?> (<?=sqldate2short(swc_version(swc_version,'date'));?>)</h1>
<p>Стартовая страница системы.</p>

<p>По идее, здесь должна выводиться информация из файла %swc_base%/release.txt:</p>
<ul>
	<li><a href="<?=href('%url%:swc:show_info',array('p'=>'core','v'=>'release'));?>">./_swc/release.txt</a></li>
	<li><a href="<?=href('%url%:swc:show_info',array('p'=>'core','v'=>'changes'));?>">./_swc/changes.txt</a></li>
	<li><a href="<?=href('%url%:swc:show_info',array('p'=>'core','v'=>'readme'));?>">./_swc/readme.txt</a></li>
</ul>
<?=tpl_parse('tpl.data',$data);?>
