<?php
/**
@title: Шаблон простого блока текста
*/

$row=array(
	'id'=>'',
	'class'=>'',
);
$blk=array(
	'id'=>'',
	'class'=>'',
);
$jsh=array();
$acl=array(
	'edit'=>false,
);

if(isset($data['blk']['pars']['row'])){$row=swc_arrayFill($row,$data['blk']['pars']['row']);}
if(isset($data['blk']['pars']['blk'])){$blk=swc_arrayFill($blk,$data['blk']['pars']['blk']);}
if(isset($data['blk']['pars']['acl'])){$acl=swc_arrayFill($acl,$data['blk']['pars']['acl']);}
?>
<div class="<?=$blk['class'];?>" id="<?=$blk['id'];?>">
<?=$data['content'];?>
<?if(isset($acl['edit'])&&is_true($acl['edit'])):?>
<div class="<?=$edt['class'];?>"><img src="<?=href('/res/buttons/edit.png');?>" class="<?=$edt['class'];?>" /></div>
<?endif;?>
</div>
