<?php
/**
@title: Файл шаблона вывода данных переданных в шаблон.
	Рекомендуется для отладки шаблонов.
	Использование:
		В файле шаблона добавляется строчка: <?=tpl_parse('tpl.data',$data);?>
@package: SWC-6
@subpackage: core
@author: Eugeny Leonov <eleonov@leolab.info>
@version: 1.0.rc <08/11/2010>
*/
if(!defined('htaccess')){die('SWC: Direct access disabled.');}
if(!isset($data)||!is_array($data)){echo('SWC[tpl.data]: Отсутствуют данные.');return(setResult(false,'Отсутствуют данные.'));}
if(!isset($data['dbgEnabled.ignore'])||!is_true($data['dbgEnabled.ignore'])){if(!defined('dbgEnabled')||!dbgEnabled){return(setResult(true));}}
if(!isset($data['blk'])||!is_array($data['blk'])){if(isset($data['blk'])){$data['blk']=array('blk'=>$data['blk']);}else{$data['blk']=array();}}
if(!isset($data['blk']['pos'])){if(isset($data['pos'])){$data['blk']['pos']=$data['pos'];}else{$data['blk']['pos']=rand(1000,9999);}}
if(!isset($data['blk']['num'])){if(isset($data['num'])){$data['blk']['num']=$data['num'];}else{$data['blk']['num']=rand(1000,9999);}}
js_add('/res/js/jquery.js');
js_add('/res/js/swc.js');
?>
<?ob_start();?>
div.swc_tpl_data{
	font-family:verdana;
	font-size:8px;
	color:green;
	padding:3px;
}
<?css_add('swc_tpl_data',ob_get_clean());?>

<div class="swc_tpl_data">
Значения шаблона: [<a href="javascript:void('<?=$data['blk']['pos'];?>-<?=$data['blk']['num'];?>');" id="<?=$data['blk']['pos'].'-'.$data['blk']['num'];?>" onclick="swc_blk_toggle(this.id);">+</a>]
<div class="" id="<?=$data['blk']['pos'];?>-<?=$data['blk']['num'].'_blk';?>" style="display:none">
<pre><?=print_r($data,true);?></pre>
</div></div>
