<?php
/**
@title: Шаблон блока заголовка шаблона страницы
@version: 1.0.a <16/11/2010>
@package: SWC-6
@subpackage: core
@author: Eugeny Leonov <eleonov@leolab.info>

#rev.2 <10/02/2011> Eugeny Leonov
 	[!] Фрейворк JQuery загружается в принудительном порядке (если не был загружен ранее), в случае наличия поля [evt] 
	[+] Скрипты на события документа.

#rev.1 <12/12/2010> Eugeny Leonov
 	[!] Данные для обработки берутся непосредственно из $GLOBALS['out']['head'];
*/
if(!defined('htaccess')){die('SWC: Direct access disabled');}
//if(!isset($data)||!is_array($data)){return(setResult(false,'В шаблон не переданы данные.'));}
?>
<link rel="shortcut icon" href="<?=href('/favicon.ico');?>" />
<title><?if(isset($GLOBALS['out']['head']['title'])):?><?=stripslashes($GLOBALS['out']['head']['title']);?><?else:?>Untitled<?endif;?></title>
<?if(isset($GLOBALS['out']['head']['css']['ext'])&&is_array($GLOBALS['out']['head']['css']['ext'])):?><?foreach($GLOBALS['out']['head']['css']['ext']as$k=>$v):?>
<link rel="stylesheet" type="text/css" href="<?=href($v);?>" />
<?endforeach;?><?endif;?>
<style>
<?if(isset($GLOBALS['out']['head']['css']['int'])&&is_array($GLOBALS['out']['head']['css']['int'])):?><?foreach($GLOBALS['out']['head']['css']['int']as$k=>$v):?>
/* <?=$k;?> */
<?=$v;?>
<?endforeach;?><?endif;?>
</style>
<?if(isset($GLOBALS['out']['head']['js']['ext'])&&is_array($GLOBALS['out']['head']['js']['ext'])):?><?foreach($GLOBALS['out']['head']['js']['ext']as$k=>$v):?>
<script language="JavaScript" src="<?=href($v);?>"></script>
<?endforeach;?><?endif;?>
<script language="JavaScript">
<?if(isset($GLOBALS['out']['head']['js']['int'])&&is_array($GLOBALS['out']['head']['js']['int'])):?><?foreach($GLOBALS['out']['head']['js']['int']as$k=>$v):?>
/* <?=$k;?> */
<?=$v;?>
<?endforeach;?><?endif;?>
<?if(isset($GLOBALS['out']['head']['js']['evt'])&&is_array($GLOBALS['out']['head']['js']['evt'])):?>
<?if(isset($GLOBALS['out']['head']['js']['evt']['document.ready'])&&is_array($GLOBALS['out']['head']['js']['evt']['document.ready'])):?>
/* Event: document.ready() */
$(document).ready(function(){
	<?foreach($GLOBALS['out']['head']['js']['evt']['document.ready']as$k=>$v):?>
<?=$v;?>
	<?endforeach;?>
});
<?endif;?>

<?endif;?>
</script>
