<?php
/**
@title: Шаблон формы выбора темы
@package: SWC
@subpackage: core
@version: 1.0.a.1 <24/12/2010>
 
#rev.3 <30/01/2011> Eugeny Leonov
 	[!] Шаблон переработан под новый стандарт.
 
#rev.2 <26/01/2011> Eugeny Leonov
 	[+] Задание произвольного класса селектора
 	[+] Задание произвольного ID селектора
 	[] Задание произвольного обработчика селектора
 	[] Задание произвольного класса строки селектора
*/
if(!defined('htaccess')){die('SWC: Direct access disabled');}
if(!isset($data)||!is_array($data)){return(setResult(false,'Отсутствуют данные шаблона.'));}

$field['default']='_default';
$field['name']='theme';
$field['class']='swc_form';
$field['id']='theme_select';

$row['class']='swc_row';
$row['id']='swc_themeSelect';

$jsh['onChange']=false;
$jsh['onSelect']=false;

//= Обработка переданных параметров >
if(isset($data['blk']['pars']['field'])){$field=swc_arrayFill($field,$data['blk']['pars']['field']);}
if(isset($data['blk']['pars']['row'])){$row=swc_arrayFill($row,$data['blk']['pars']['row']);}
if(isset($data['blk']['pars']['jsh'])){$jsh=swc_arrayFill($jsh,$data['blk']['pars']['jsh']);}
//< Обработка переданных параметров =

js_add('/res/js/jquery.js');
js_add('/res/js/swc.js');
css_add('/res/css/swc.css');
?>
<div class="<?=$row['class'];?>" id="<?=$row['id'];?>_row">
<select class="<?=$field['class'];?>" id="<?=$field['id'];?>" name="<?=$field['name'];?>"<?if($jsh['onChange']!=false):?>onchange="<?=$jsh['onChange'];?>(this.value,'<?=$field['id'];?>');"<?endif;?>>
	<option value="_blank"<?if($field['default']=='_blank'):?> selected="1"<?endif;?>>Шаблоны ядра</option>
	<option value="_default"<?if($field['default']=='_default'):?> selected="1"<?endif;?>>По умолчанию</option>
<?if(isset($data['items'])&&is_array($data['items'])):?><?foreach($data['items']as$k=>$v):?>
	<option value="<?=$k;?>" <?if($k==$field['default']):?> selected="1"<?endif;?>><?if(isset($v['title'])):?><?=$v['title'];?><?else:?><?=$k;?><?endif;?></option>
<?endforeach;?><?endif;?>
</select><?if($jsh['onSelect']!=false):?>
&nbsp;<input type="image" class="swc_button" src="<?=href('/res/buttons/add.png');?>" onclick="<?=$jsh['onSelect'];?>($('#<?=$field['id'];?>').val(),'<?=$field['id'];?>');return false;" />
<?endif;?>
</div>
