<?php
/**
@title: Шаблон блока конфигурации модуля
@package: dbi
@version: 1.0.a <05/02/2011>
@author: Eugeny Leonov <eleonov@leolab.info>
*/
if(!defined('htaccess')){die('Direct access disabled');}
if(!isset($data)||!is_array($data)){return(setResult(false,'Отсутствуют данные шаблона.'));}

$row=array(
	'id'=>'dbi_conf',
	'class'=>'swc_row',
);
$blk=array(
	'id'=>'dbi_conf',
	'class'=>'swc_blk',
);
$field=array(
	'name'=>'dbi',
	'id'=>'dbi',
	'class'=>'swc_form',
);
$jsh=array(
	'onCancel'=>false,
	'onSubmit'=>false,
);

if(isset($data['blk']['pars']['row'])){$row=swc_arrayFill($row,$data['blk']['pars']['row']);}
if(isset($data['blk']['pars']['blk'])){$blk=swc_arrayFill($blk,$data['blk']['pars']['blk']);}
if(isset($data['blk']['pars']['field'])){$field=swc_arrayFill($field,$data['blk']['pars']['field']);}
if(isset($data['blk']['pars']['jsh'])){$jsh=swc_arrayFill($jsh,$data['blk']['pars']['jsh']);}
?>

<div class="<?=$blk['class'];?>" id="<?=$blk['id'];?>">
	<div class="<?=$blk['class'];?>_title">Конфигурация DBI</div>
	<div class="<?=$blk['class'];?>_content">
<div class="<?=$row['class'];?>" id="<?=$row['id'];?>_host_row">
	<span class="<?=$field['class'];?>_name">Сервер:</span>
	<span class="<?=$field['class'];?>_value">
		<input type="text" name="<?=$field['name'];?>[host]" id="<?=$field['id'];?>_host" class="<?=$field['class'];?>" value="<?if(isset($data['conf']['host'])):?><?=$data['conf']['host'];?><?endif;?>" />
	</span>
</div>
<div class="<?=$row['class'];?>" id="<?=$row['id'];?>_user_row">
	<span class="<?=$field['class'];?>_name">Пользователь:</span>
	<span class="<?=$field['class'];?>_value">
		<input type="text" name="<?=$field['name'];?>[user]" id="<?=$field['id'];?>_user" class="<?=$field['class'];?>" value="<?if(isset($data['conf']['user'])):?><?=$data['conf']['user'];?><?endif;?>" />
	</span>
</div>
<div class="<?=$row['class'];?>" id="<?=$row['id'];?>_passwd_row">
	<span class="<?=$field['class'];?>_name">Пароль:</span>
	<span class="<?=$field['class'];?>_value">
		<input type="text" name="<?=$field['name'];?>[passwd]" id="<?=$field['id'];?>_passwd" class="<?=$field['class'];?>" value="<?if(isset($data['conf']['passwd'])):?><?=$data['conf']['passwd'];?><?endif;?>" />
	</span>
</div>
<div class="<?=$row['class'];?>" id="<?=$row['id'];?>_name_row">
	<span class="<?=$field['class'];?>_name">Имя БД:</span>
	<span class="<?=$field['class'];?>_value">
		<input type="text" name="<?=$field['name'];?>[name]" id="<?=$field['id'];?>_name" class="<?=$field['class'];?>" value="<?if(isset($data['conf']['name'])):?><?=$data['conf']['name'];?><?endif;?>" />
	</span>
</div>

	</div>
	<div class="<?=$blk['class'];?>_footer">&nbsp;</div>
</div>
