<?php
/**
@title: Шаблон вертикального меню
@version: 1.0.rc <17/12/2010>
@package: SWC-6
@subpackage: core

#rev.1 <21/01/2011> Eugeny Leonov
	[+] Обработка параметра [pars] элемента меню
*/
if(!defined('htaccess')){die('Direct access disabled');}
if(!isset($data)||!is_array($data)){return(setResult(false,'Отсутствуют данные шаблона.'));}
?>
<?if(isset($data['blk']['title'])):?><h3><?=stripslashes($data['blk']['title']);?></h3><?endif;?>
<?if(isset($data['items'])&&is_array($data['items'])):?><ul><?foreach($data['items']as$k=>$v):?>
<?if(!isset($v['pars'])){$v['pars']=false;}?>
<li><a href="<?=href($v['href'],$v['pars']);?>"><?=$v['title'];?></a></li>
<?endforeach;?></ul><?endif;?>
<?=tpl_parse('tpl.data',$data);?>
