<?php
/**
@title: Шаблон блока списка файлов
@package: SWC-6
@subpackage: core.file
@author: Eugeny Leonov <eleonov@leolab.info>
@version: 1.0.a <18/03/2011>
*/
if(!defined('htaccess')){die('SWC: Direct access disabled');}
if(!isset($data)||!is_array($data)){return(setResult(false,'Отсутствуют данные шаблона.'));}
$p='';
?>

<?ob_start();?>
function swc_file_remove(fn,id){
	if(confirm('Удалить файл '+fn+'?')){
		$.post('<?=href('%url%');?>',{
				'do':'file:remove',
				'path':'/<?=$data['cPath'];?>',
				'name':fn
			},function(data){
			if(is_ok(data)){$('#'+id).remove();}else{alert(data);}
		});
	}
}

function swc_folder_remove(fn,id){
	if(confirm('Удалить папку ('+fn+') и ее содержимое?')){
		$.post('<?=href('%url%');?>',{
			'do':'file:folder.remove',
			'path':'/<?=$data['cPath'];?>',
			'name':fn
		},function(data){
			if(is_ok(data)){$('#'+id).remove();}else{alert(data);}
		});
	}
}
<?js_add('swc_file',ob_get_clean());?>

<div>
<a href="<?=href('%uri%',array('path'=>'/'));?>">[root]</a>
<?if(isset($data['path'])&&is_array($data['path'])):?><?foreach($data['path']as$k=>$v):?>
<?if(trim($v)!==''):?>
		/<a href="<?=href('%uri%',array('path'=>$p.'/'.$v));?>"><?=$v;?></a>
<?$p=$p.'/'.$v;?>
<?endif;?>
<?endforeach;?><?endif;?>
<br/>
<b><?=$data['cPath'];?></b>
</div>

<?if(isset($data['list'])&&is_array($data['list'])):?><?foreach($data['list']as$k=>$v):?>
<div id="<?=str_replace('./','_',$v['name']);?>" onmouseover="swc_hlOn(this.id);" onmouseout="swc_hlOff(this.id);">
<?if($v['dir']):?><a href="<?=href('%uri%',array('path'=>$data['cPath'].'/'.$v['name']));?>"><?=$v['name'];?></a><?else:?><?=$v['name'];?>[<?=$v['ext'];?>]<?endif;?>
<span style="float:right;" class="swc_buttons">
<?if($v['dir']):?>
	<img src="<?=href('/res/buttons/delete.png');?>" width="16" height="16" border="0" onclick="swc_folder_remove('<?=$v['name'];?>','<?=str_replace('./','_',$v['name']);?>');" />
<?else:?>
	<img src="<?=href('/res/buttons/delete.png');?>" width="16" height="16" border="0" onclick="swc_file_remove('<?=$v['name'];?>.<?=$v['ext'];?>','<?=str_replace('./','_',$v['name']);?>');" />
<?endif;?>
</span>
</div>
<?endforeach;?><?endif;?>
<hr/>
Создать папку:
<form name="add_path" action="<?=href('%url%');?>" method="POST">
	<input type="hidden" name="act" value="file:folder.create" />
	<input type="hidden" name="path" value="<?=$data['cPath'];?>" />
	<input type="text" name="name" value="" /><input type="submit" value="+" />
</form>

Загрузить файл(ы):
<form enctype="multipart/form-data" name="file_upload_form" action="<?=href('%url%');?>" method="POST">
	<input type="hidden" name="act" value="file:upload" />
	<input type="hidden" name="path" value="<?=$data['cPath'];?>" />
	<input type="hidden" name="name" value="up_file" />
	<input type="file" name="up_file[]" /><input type="submit" value="+" />
</form>
<?=tpl_parse('tpl.data',$data);?>
