<?php
/**
@title: Шаблон блока информации о сайте
@package: SWC-6
@subpackage: core.site
@version: 1.0.a <14/02/2011>
@author: Eugeny Leonov <eleonov@leolab.info>
*/
if(!defined('htaccess')){die('SWC: Direct access disabled');}
if(!isset($data)||!is_array($data)){return(setResult(false,'Отсутствуют параметры шаблона.'));}
?>
<div class="swc_blk">
<?if(!isset($data['info'])||!is_array($data['info'])):?>Информация о сайте отсутствует или имеет неверный формат.<?else:?>
<pre><?print_r($data['info']);?></pre>
<?endif;?>
</div>
