<?php
/**
@title: Шаблон страницы управления сайтами
@package: SWC-6
@subpackage: core.site
@version: 1.0.a <24/01/2011>
@author: Eugeny Leonov <eleonov@leolab.info>
 
#rev.3 <22/02/2011> Eugeny Leonov
	[*]

#rev.2 <06/02/2011> Eugeny Leonov
 	[*] Очередная корректировка под текущие требования

#rev.1 <31/01/2011> Eugeny Leonov
 	[*] Шаблон откорректирован под текущие требования.
*/
if(!defined('htaccess')){die('SWC: Direct access disabled');}
if(!isset($data)||!is_array($data)){return(setResult(false,'Отсутствуют данные шаблона.'));}

$row=array(
	'id'=>'site_manage_row',
	'class'=>'swc_row',
);
$blk=array(
	'id'=>'site_manage_blk',
	'class'=>'swc_blk',
);
$form=array(
	'id'=>'site_manage_form',
	'name'=>'conf',
	'class'=>'swc_form fh',
);

//= Проверка переданных параметров >
if(isset($data['blk']['pars']['row'])){$row=swc_arrayFill($row,$data['blk']['pars']['row']);}
if(isset($data['blk']['pars']['blk'])){$blk=swc_arrayFill($blk,$data['blk']['pars']['blk']);}
if(isset($data['blk']['pars']['form'])){$form=swc_arrayFill($form,$data['blk']['pars']['form']);}
//< Проверка переданных параметров =

js_add('/res/js/jquery.js');
js_add('/res/js/swc.js');
css_add('/res/css/swc.css');
?>
<?ob_start();?>

/**
* Убрать форму изменения параметров сайта без сохранения
* @version 1.0.b <22/02/2011>
* @author Eugeny Leonov <eleonov@leolab.info>
*/
function swc_site_manage_siteConfig_onCancel(){
	if($('#<?=$blk['id'];?>_siteConfig').length!=1){alert('Неверный контейнер формы конфигурации.');return false;}
	$('#<?=$blk['id'];?>_siteConfig').html('&nbsp;');
	$('#<?=$blk['id'];?>_siteConfig').css('display','none');
	return true;
}

function swc_site_manage_siteConfig(sName,rowId){
	$.post('<?=href('%url%');?>',{
		'get':'site:manage.config',
		'site[name]':sName,
		'blk[id]':'<?=$blk['id'];?>_config',
		'blk[class]':'<?=$blk['class'];?>',
		'row[id]':'<?=$row['id'];?>_config',
		'row[class]':'<?=$row['class'];?>',
		'form[id]':'<?=$blk['id'];?>_configFrm',
		'form[class]':'<?=$form['class'];?>',
		'form[name]':'<?=$form['name'];?>',
		'jsh[onCancel]':'swc_site_manage_siteConfig_onCancel'
	},function(data){
		$('#<?=$blk['id'];?>_siteConfig').html(data);
		$('#<?=$blk['id'];?>_siteConfig').css('display','block');
	});
	return true;
}

function swc_site_manage_siteRemove(sName,rowId){
	alert('Удаление сайта: '+sName+' ('+rowId+')');
}

function swc_site_manage_siteInfo(sName,rowId){
	$.post('<?=href('%url%');?>',{
		'get':'site:info',
		'site[name]':sName
	},function(data){
		$.modal(data);
	});
//	alert('Информация о сайте: '+sName+' ('+rowId+')');
}
<?js_add('swc_site_manage_JScripts',ob_get_clean());?>
<div class="modalbox" id="modalbox">&nbsp;</div>
<h3>Управление сайтами системы:</h3>
<div id="swc_siteList">
	<div id="<?=$blk['id'];?>_list" class="<?=$blk['class'];?>_inner;"><?if(isset($data['sites'])&&is_array($data['sites'])):?><?foreach($data['sites']as$k=>$v):?>
<?=int_get('site:row',array('site'=>array('name'=>$k),'row'=>$row,'jsh'=>array('onConfig'=>'swc_site_manage_siteConfig','onRemove'=>'swc_site_manage_siteRemove','onInfo'=>'swc_site_manage_siteInfo',),'acl'=>array('cfgReset'=>'on')));?>
	<?endforeach;?><?endif;?></div>
	<div id="<?=$blk['id'];?>_siteConfig" style="margin-left:15px;display:none;">&nbsp;</div>
</div>
<div class="<?=$blk['class'];?>_footer">&nbsp;</div>
</div>
