<?php
/**
@title: Шаблон конфигурации сайта.
@package: SWC-6
@subpackage: core.site
@version: 1.0.a.1 <23/01/2011>
@author: Eugeny Leonov <eleonov@leolab.info>
 
#rev.2 <07/02/2011> Eugeny Leonov
 	[+] Редактирование списка групп которым разрешен сайт.
 	[*] Вторая очередь корректировки шаблона под текущие требования.

#rev.1 <31/01/2011> Eugeny Leonov
	[f] Шаблон откорректирован под текущие требования.
*/
if(!defined('htaccess')){die('Direct access disable');}
if(!isset($data)||!is_array($data)){return(setResult(false,'Отсутствуют данные шаблона.'));}
if(!isset($data['conf']['name'])||!is_string($data['conf']['name'])||(trim($data['conf']['name'])=='')){return(setResult(false,'Не указано имя сайта.'));}
//= Используемые подстановки >
$row=array(
	'id'=>'swc_site_cfg',
	'class'=>'swc_row',
);
$blk=array(
	'id'=>'swc_site_config',
	'class'=>'swc_blk',
);
$form=array(
	'id'=>'swc_site_conf',
	'name'=>'conf',
	'class'=>'swc_form fh',
	'action'=>'%url%',
);
$jsh=array(
	'onSubmit'=>false,
	'onCancel'=>false,
);
//< Используемые подстановки =

//= Проверка и корректировка параметров шаблона >
if(isset($data['blk']['pars']['row'])){$row=swc_arrayFill($row,$data['blk']['pars']['row']);}
if(isset($data['blk']['pars']['blk'])){$blk=swc_arrayFill($blk,$data['blk']['pars']['blk']);}
if(isset($data['blk']['pars']['form'])){$form=swc_arrayFill($form,$data['blk']['pars']['form']);}
if(!isset($data[$form['name']]['theme'])){$data[$form['name']]['theme']='_default';}
//< Проверка и корректировка параметров шаблона =

if(!isset($data[$form['name']]['theme'])){$data[$form['name']]['theme']='';}

js_add('/res/js/jquery.js');
js_add('/res/js/swc.js');
css_add('/res/css/swc.css');
?>
<?ob_start();?>
function swc_site_grpAllow_del(grp,rId){
	if(confirm('Удалить доступ к сайту из группы '+$('#'+rId+'_title').text()+'?')){$('#'+rId+'_row').remove();}
}

function swc_site_grpAllow_add(grp,rId){
	$.post('<?=href('%url%');?>',{
		'get':'user:group.row',
		'group[name]':grp,
		'row[id]':'<?=$row['id'];?>_grpAllow',
		'row[class]':'<?=$row['class'];?>',
		'field[id]':'<?=$form['id'];?>_grpAllow',
		'field[name]':'<?=$form['name'];?>[grp.allow]',
		'jsh[onDelete]':'swc_site_grpAllow_del'
	},function(data){
		$('#<?=$row['id'];?>_groupsAllow').append(data);
	});
}

function swc_site_grpDeny_del(grp,rId){
	if(confirm('Разрешить доступ к сайту группе '+$('#'+rId+'_title').text()+'?')){$('#'+rId+'_row').remove();}
}

function swc_site_grpDeny_add(grp,rId){
	$.post('<?=href('%url%');?>',{
		'get':'user:group.row',
		'group[name]':grp,
		'row[id]':'<?=$row['id'];?>_grpDeny',
		'row[class]':'<?=$row['class'];?>',
		'field[id]':'<?=$form['id'];?>_grpDeny',
		'field[name]':'<?=$form['name'];?>[grp.deny]',
		'jsh[onDelete]':'swc_site_grpDeny_del'
	},function(data){
		$('#<?=$row['id'];?>_groupsDeny').append(data);
	});
}

function swc_site_grpAdmin_del(grp,rId){
	if(confirm('Удалить у группы '+$('#'+rId+'_title').text()+' права администратора сайта?')){$('#'+rId+'_row').remove();}
}

function swc_site_grpAdmin_add(grp,rId){
	$.post('<?=href('%url%');?>',{
		'get':'user:group.row',
		'group[name]':grp,
		'row[id]':'<?=$row['id'];?>_grpAdmin',
		'row[class]':'<?=$row['class'];?>',
		'field[id]':'<?=$form['id'];?>_grpAdmin',
		'field[name]':'<?=$form['name'];?>[site.admin]',
		'jsh[onDelete]':'swc_site_grpAdmin_del'
	},function(data){
		$('#<?=$row['id'];?>_groupsAdmin').append(data);
	});
}

function swc_site_grpManage_del(grp,rId){
	if(confirm('Удалить у группы '+$('#'+rId+'_title').text()+' права управления сайтом?')){$('#'+rId+'_row').remove();}
}

function swc_site_grpManage_add(grp,rId){
	$.post('<?=href('%url%');?>',{
		'get':'user:group.row',
		'group[name]':grp,
		'row[id]':'<?=$row['id'];?>_grpManage',
		'row[class]':'<?=$row['class'];?>',
		'field[id]':'<?=$form['id'];?>_grpManage',
		'field[name]':'<?=$form['name'];?>[site.manage]',
		'jsh[onDelete]':'swc_site_grpManage_del'
	},function(data){
		$('#<?=$row['id'];?>_groupsManage').append(data);
	});
}

<?js_add('site_conf_jsh',ob_get_clean());?>

<div class="<?=$blk['class'];?>" id="<?=$blk['id'];?>">
<form name="<?=$form['name'];?>" id="<?=$form['id'];?>" action="<?=href($form['action']);?>" method="POST">
<input type="hidden" name="act" value="site:config.save" />
<input type="hidden" name="fName" value="<?=$form['name'];?>" />
<input type="hidden" name="<?=$form['name'];?>[name]" value="<?=$data['conf']['name'];?>" />
<div class="<?=$blk['class'];?>_title">Настройки сайта "<?=$data['conf']['name'];?>"</div>
<div class="<?=$blk['class'];?>_content">
	<div class="<?=$row['class'];?>" id="<?=$row['id'];?>_title" onmouseover="swc_hlOn(this.id);" onmouseout="swc_hlOff(this.id);">
		<span class="<?=$row['class'];?>_title">Наименование:</span>
		<span class="<?=$row['class'];?>_descr"><input type="text" class="<?=$form['class'];?>" name="<?=$form['name'];?>[title]" id="<?=$form['id'];?>_title" value="<?if(isset($data[$form['name']]['title'])):?><?=$data[$form['name']]['title'];?><?endif;?>" /></span>
	</div>
	<div class="<?=$row['class'];?>" id="<?=$row['id'];?>_e404" onmouseover="swc_hlOn(this.id);" onmouseout="swc_hlOff(this.id);">
		<span class="<?=$row['class'];?>_title">Страница Е404:</span>
		<span class="<?=$row['class'];?>_descr"><input type="text" class="<?=$form['class'];?>" name="<?=$form['name'];?>[e404]" id="<?=$form['id'];?>_e404" value="<?if(isset($data[$form['name']]['e404'])):?><?=$data[$form['name']]['e404'];?><?endif;?>" /></span>
	</div>
	<div class="<?=$row['class'];?>" id="<?=$row['id'];?>_e403" onmouseover="swc_hlOn(this.id);" onmouseout="swc_hlOff(this.id);">
		<span class="<?=$row['class'];?>_title">Страница Е403:</span>
		<span class="<?=$row['class'];?>_descr"><input type="text" class="<?=$form['class'];?>" name="<?=$form['name'];?>[e403]" id="<?=$form['id'];?>_e403" value="<?if(isset($data[$form['name']]['e403'])):?><?=$data[$form['name']]['e403'];?><?endif;?>" /></span>
	</div>
	<div class="<?=$row['class'];?>" id="<?=$row['id'];?>_theme" onmouseover="swc_hlOn(this.id);" onmouseout="swc_hlOff(this.id);">
		<span class="<?=$row['class'];?>_title">Шаблон сайта:</span>
		<span class="<?=$row['class'];?>_descr"><?=int_get('theme:select',array('field'=>array('class'=>$form['class'],'id'=>$form['id'].'_theme','name'=>$form['name'].'[theme]','default'=>$data[$form['name']]['theme']),'row'=>array('id'=>$row['id'].'_theme','class'=>$row['class'])));?></span>
	</div>
	<div class="<?=$row['class'];?>"><span class="<?=$row['class'];?>_title"><b>Разрешенные группы:</b></span></div>
	<div class="<?=$row['class'];?>_inner">
		<div id="<?=$row['id'];?>_groupsAllow"><?if(isset($data[$form['name']]['grp.allow'])&&is_array($data[$form['name']]['grp.allow'])):?><?foreach($data[$form['name']]['grp.allow']as$k=>$v):?>
			<?=int_get('user:group.row',array('group'=>array('name'=>$k),'field'=>array('name'=>$form['name'].'[grp.allow]'),'row'=>array('class'=>$row['class'],'id'=>$row['id'].'_grpAllow',),'jsh'=>array('onDelete'=>'swc_site_grpAllow_del')));?>
		<?endforeach;?><?endif;?></div>
		<div id="<?=$row['id'];?>_grpAllowAdd">
			<?=int_get('user:group.select',array('field'=>array('name'=>$form['name'].'_grpAllowAdd','class'=>'swc_form','id'=>$form['id'].'_grpAllow_Add',),'acl'=>array('create'=>'yes',),'jsh'=>array('onSelect'=>'swc_site_grpAllow_add')));?>
		</div>
	</div>
	<div class="<?=$row['class'];?>"><span class="<?=$row['class'];?>_title"><b>Запрещенные группы:</b></span></div>
	<div class="<?=$row['class'];?>_inner">
		<div id="<?=$row['id'];?>_groupsDeny"><?if(isset($data[$form['name']]['grp.deny'])&&is_array($data[$form['name']]['grp.deny'])):?><?foreach($data[$form['name']]['grp.deny']as$k=>$v):?>
			<?=int_get('user:group.row',array('group'=>array('name'=>$k),'field'=>array('name'=>$form['name'].'[grp.deny]'),'row'=>array('class'=>$row['class'],'id'=>$row['id'].'_grpDeny',),'jsh'=>array('onDelete'=>'swc_site_grpDeny_del')));?>
		<?endforeach;?><?endif;?></div>
		<div id="<?=$row['id'];?>_grpDenyAdd">
			<?=int_get('user:group.select',array('field'=>array('name'=>$form['name'].'_grpDenyAdd','class'=>'swc_form','id'=>$form['id'].'_grpDeny_Add',),'acl'=>array('create'=>'yes',),'jsh'=>array('onSelect'=>'swc_site_grpDeny_add')));?>
		</div>
	</div>
	<div class="<?=$row['class'];?>"><span class="<?=$row['class'];?>_title"><b>Администраторы сайта:</b></span></div>
	<div class="<?=$row['class'];?>_inner">
		<div id="<?=$row['id'];?>_groupsAdmin"><?if(isset($data[$form['name']]['site.admin'])&&is_array($data[$form['name']]['site.admin'])):?><?foreach($data[$form['name']]['site.admin']as$k=>$v):?>
			<?=int_get('user:group.row',array('group'=>array('name'=>$k),'field'=>array('name'=>$form['name'].'[site.admin]'),'row'=>array('class'=>$row['class'],'id'=>$row['id'].'_grpAdmin',),'jsh'=>array('onDelete'=>'swc_site_grpAdmin_del')));?>
		<?endforeach;?><?endif;?></div>
		<div id="<?=$row['id'];?>_grpAdminAdd">
			<?=int_get('user:group.select',array('field'=>array('name'=>$form['name'].'_grpAdminAdd','class'=>'swc_form','id'=>$form['id'].'_grpAdmin_Add',),'acl'=>array('create'=>'yes',),'jsh'=>array('onSelect'=>'swc_site_grpAdmin_add')));?>
		</div>
	</div>
	<div class="<?=$row['class'];?>"><span class="<?=$row['class'];?>_title"><b>Менеджеры сайта:</b></span></div>
	<div class="<?=$row['class'];?>_inner">
		<div id="<?=$row['id'];?>_groupsManage"><?if(isset($data[$form['name']]['site.manage'])&&is_array($data[$form['name']]['site.manage'])):?><?foreach($data[$form['name']]['site.manage']as$k=>$v):?>
			<?=int_get('user:group.row',array('group'=>array('name'=>$k),'field'=>array('name'=>$form['name'].'[site.manage]'),'row'=>array('class'=>$row['class'],'id'=>$row['id'].'_grpManage',),'jsh'=>array('onDelete'=>'swc_site_grpManage_del')));?>
		<?endforeach;?><?endif;?></div>
		<div id="<?=$row['id'];?>_grpManageAdd">
			<?=int_get('user:group.select',array('field'=>array('name'=>$form['name'].'_grpManageAdd','class'=>'swc_form','id'=>$form['id'].'_grpManage_Add',),'acl'=>array('create'=>'yes',),'jsh'=>array('onSelect'=>'swc_site_grpManage_add')));?>
		</div>
	</div>
		<div class="<?=$row['class'];?>" id="<?=$row['id'];?>_submit"><input type="submit" value="Изменить" class="<?=$form['class'];?>" /></div>
		<?if($jsh['onCancel']!=false):?><div class="<?=$row['class'];?>" id="<?=$row['id'];?>_cancel"><input type="button" value="Отменить" onclick="<?=$jsh['onCancel'];?>();return false;" class="<?=$form['class'];?>" /></div><?endif;?>
</div>
<div class="<?=$blk['class'];?>_footer">&nbsp;</div>
</form>
</div>
<?=tpl_parse('tpl.data',$data);?>
