<?php
/**
@title: Шаблон строки списка сайтов
@package: SWC-6
@subpackage: core.site
@author: Eugeny Leonov <eleonov@leolab.info>
@version: 1.0.a <24/01/2011>
 
#rev.2 <31/01/2011> Eugeny Leonov
 	[*] Шаблон откорректирован под текущие требования.

#rev.1 <27/01/2011>
 	[!] Шаблон переименован (./list.row.phtml -> ./row.phtml)
*/
if(!defined('htaccess')){die('SWC: Direct access disabled');}
if(!isset($data)||!is_array($data)){return(setResult(false,'Отсутствуют данные шаблона.'));}
if(!isset($data['site']['name'])){return(setResult(false,'Отсутствует обязательный параметр шаблона.'));}

//= Используемые подстановки >
$row=array(
	'class'=>'swc_row',
	'id'=>'swc_site_list',
);
$field=array(
	'name'=>false,
	'class'=>'swc_form',
	'id'=>'swc_site_list',
);
$jsh=array(
	'onSelect'=>false,
	'onConfig'=>false,
	'onRemove'=>false,
	'onDelete'=>false,
	'onInfo'=>false,
);
$acl=array(
	'cfgReset'=>false,
);
//< Используемые подстановки =
//= Проверка и корректировка параметров шаблона >
if(isset($data['blk']['pars']['row'])){$row=swc_arrayFill($row,$data['blk']['pars']['row']);}
if(isset($data['blk']['pars']['field'])){$field=swc_arrayFill($field,$data['blk']['pars']['field']);}
if(isset($data['blk']['pars']['jsh'])){$jsh=swc_arrayFill($jsh,$data['blk']['pars']['jsh']);}
if(isset($data['blk']['pars']['acl'])){$acl=swc_arrayFill($acl,$data['blk']['pars']['acl']);}
//< Проверка и корректировка параметров шаблона =
$row['id'].='_'.str_replace(array('.',':'),'_',$data['site']['name']);
$field['id'].=' '.str_replace(array('.',':'),'_',$data['site']['name']);
?>

<?ob_start();?>
function swc_site_cfgReset(sName,rId){
	$.post('<?=href('%url%');?>',{
		'do':'site:config.reset',
		'site[name]':sName
	},function(data){
		if(is_ok(data)){
			$('#'+rId+'_btn_cfgReset').remove();
		}else{alert(data);}
	});
}
<?js_add('swc_site_row',ob_get_clean());?>

<div class="<?=$row['class'];?>" id="<?=$row['id'];?>_row" onmouseover="swc_hlOn(this.id);" onmouseout="swc_hlOff(this.id);">
<?if($field['name']!=false):?><input type="hidden" name="<?=$field['name'];?>[<?=$data['site']['name'];?>]" value="<?=$data['site']['name'];?>" /><?endif;?>
	<span class="<?=$row['class'];?>_title" id="<?=$row['id'];?>_title"<?if($jsh['onSelect']!=false):?> onclick="<?=$jsh['onSelect'];?>('<?=$data['site']['name'];?>','<?=$row['id'];?>');return false;"<?endif;?>>
		<?if(isset($data['site']['title'])):?><?=stripslashes($data['site']['title']);?><?else:?><?=$data['site']['name'];?><?endif;?>
		<?if(isset($data['site']['info']['title'])):?>(<?=stripslashes($data['site']['info']['title']);?>)<?endif;?>
	</span>
	<span class="<?=$row['class'];?>_descr"><?if(isset($data['site']['info']['version'])):?><?=swc_version($data['site']['info']['version'],'version');?> (<?=sqldate2sh_str(swc_version($data['site']['info']['version'],'date'));?>)<?else:?>---<?endif;?></span>
	<span class="<?=$row['class'];?>_buttons">&nbsp;
<?if($jsh['onConfig']!=false):?><input type="image" src="<?=href('/res/buttons/cfg.png');?>" class="swc_button" border="0" onclick="<?=$jsh['onConfig'];?>('<?=$data['site']['name'];?>','<?=$row['id'];?>');return false;" /><?else:?><img src="<?=href('/res/buttons/no_cfg.png');?>" class="swc_button" border="0" /><?endif;?>
<?if($jsh['onInfo']!==false):?><input type="image" src="<?=href('/res/buttons/info.png');?>" class="swc_button" border="0" onclick="<?=$jsh['onInfo'];?>('<?=$data['site']['name'];?>','<?=$row['id'];?>');return false;" /><?else:?><img src="<?=href('/res/buttons/no_info.png');?>" class="swc_button" border="0" /><?endif;?>
<?if($jsh['onDelete']!=false):?><input type="image" src="<?=href('/res/buttons/del.png');?>" class="swc_button" border="0" onclick="<?=$jsh['onDelete'];?>('<?=$data['site']['name'];?>','<?=$row['id'];?>');return false;" /><?endif;?>
<?if(isset($acl['cfgReset'])&&is_true($acl['cfgReset'])):?><input id="<?=$row['id'];?>_btn_cfgReset" type="image" src="<?=href('/res/buttons/delete.png');?>" class="swc_button" border="0" onclick="swc_site_cfgReset('<?=$data['site']['name'];?>','<?=$row['id'];?>');return false;" /><?endif;?>
	</span>
</div>
