<?php
/**
@title: Шаблон формы выбора сайта
@package: SWC-6
@subpackage: core
@version 1.0.b <21/01/2011>

#rev.4 <22/02/2011> Eugeny Leonov
	[*] Приведение шаблона к текущему формату
	[r] 1.0.rc

#rev.3 <30/01/2011> Eugeny Leonov
 	[*] Изменены имена передаваемых параметров.
 
#rev.2 <27/01/2011> Eugeny Leonov
 	[f] Не передается выбранное значение селектора в обработчик.
 
#rev.1 <26/01/2011> Eugeny Leonov
 	[+] Задание произвольного класса селектора
 	[+] Задание произвольного ID селектора
 	[+] Задание произвольного обработчика селектора
 	[+] Задание произвольного класса строки селектора
*/
if(!defined('htaccess')){die('SWC: Direct access disabled');}
if(!isset($data)||!is_array($data)){return(setResult(false,'Отсутствуют данные шаблона.'));}

//= Подставляемые значения >
$row=array(
	'id'=>'swc_site_select',
	'class'=>'swc_row',
);
$field=array(
	'id'=>'swc_siteSelect',
	'name'=>'site',
	'class'=>'swc_form',
	'default'=>'',
);
$jsh=array(
	'onSelect'=>false,
	'onChange'=>false,
);
//< Подставляемые значения =

//= Проверка переданных параметров шаблона >
if(isset($data['blk']['pars']['row'])){$row=swc_arrayFill($row,$data['blk']['pars']['row']);}
if(isset($data['blk']['pars']['field'])){$field=swc_arrayFill($field,$data['blk']['pars']['field']);}
if(isset($data['blk']['pars']['jsh'])){$jsh=swc_arrayFill($jsh,$data['blk']['pars']['jsh']);}
//< Проверка переданных параметров шаблона =
?>

<div id="<?=$row['id'];?>_row" class="<?=$row['class'];?>">
<select class="<?=$field['class'];?>" name="<?=$field['name'];?>" id="<?=$field['id'];?>" onchange="<?if($jsh['onChange']!=false):?><?=$jsh['onChange'];?>(this.value,'<?=$field['id'];?>');<?endif;?>return false;">
	<option value=""<?if($field['default']==''):?> selected="1"<?endif;?>>Выбрать сайт...</option>
	<option value="_default"<?if($field['default']=='_default'):?> selected="1"<?endif;?>>По умолчанию</option>
<?foreach($data['items']as$k=>$v):?>
	<option value="<?=$v['name'];?>"<?if($field['default']==$v['name']):?> selected="1"<?endif;?>><?if(isset($v['title'])):?><?=stripslashes($v['title']);?><?else:?><?=$v['name'];?><?endif;?></option>
<?endforeach;?>
</select>
<?if($jsh['onSelect']!=false):?>
	<input class="swc_button" type="image" src="<?=href('/res/buttons/add.png');?>" onclick="<?=$jsh['onSelect'];?>($('#<?=$field['id'];?> option:selected').val(),'<?=$field['id'];?>');return false;" />
<?endif;?>
</div>
